@charset "utf-8";
.sib-spin{
    position: relative;
    display: inline-block;
    *display:inline;
    *zoom:1;
}
.sib-spin-input {
    border:1px solid #dcdddd;
    background: none;
    color: inherit;
    padding: 0;
    margin: .2em 0;
    vertical-align: middle;
    margin-left: .4em;
    margin-right: 22px;
}
.sib-spin-up, .sib-spin-down{
    width: 16px;
    height: 50%;
    font-size: .5em;
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    /*cursor: default;*/
    display: block;
    overflow: hidden;
    right: 0;
    background: red;
}
.sib-spin-up{
    top:0;
}
.sib-spin-down{
    bottom: 0;
}