.visit-count{
    margin-left:20px;
}
.cell .topic-title-wrapper{
    font-size: 22px;
}
.cell .topic-title{
    font-size:inherit;
    color:#333;
    font-weight: normal;
}
.cell .label{
    position: relative;
    top: -2px;
}
.label{

}
#topic{
    padding:15px 20px;
}
.topic-title{
    padding-bottom:10px;
    border-bottom: 1px solid #ddd;
}
.topic-title .title {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.topic-title .label{
    position: relative;
    top: -4px;
    margin-right: 5px;
}
.topic-content{
    padding:10px 0px;
}
#topic .zans .action {
    color: #666;
    font-size: 13px;
    line-height: 30px;
    text-decoration: none;
    height: 30px;
    padding: 0 10px;
    display: inline-block;
    background: #fff;
    border-radius: 5px;
}
#topic .zans .zan {
    background: #f27369;
    color: #fff;
}
#topic .zans .action {
    font-size: 12px;
    margin-right: 10px;
    float: left;
}
.zans .btn{
    margin-right: 10px;
}
.zans .zanlogs a {
    display: inline-block;
}
.zans .zanlogs a img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-right: 5px;
    border: 2px solid #fff;
    box-shadow: 1px 1px 2px #ccc;
    margin-top: -2px;;
}
.topic-comments .btns .btn{
    padding-left: 0px;
    margin-right: 5px;
}
textarea.reply-area{
    display: block;
    width: 100%;
    height: 80px;
    border-radius: 3px;
}
.ext-info{
    margin-top: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 15px 16px;
    margin-bottom: 10px;
    line-height: 20px;
}
.ext-info .checkbox,.ext-info .radio{
    margin-bottom: 15px;
}
.ext-info label{
    font-weight: normal;
}
.ext-info .progress{
    height: 10px;
    margin-top: 3px;
    margin-bottom: 10px;
}
.ext-info .label{
    padding: 0.1em 0.3em;
    margin-left: 10px;
    font-weight: normal;
}
.ext-info .type-stat{
    margin-bottom: 15px;
    line-height: 22px;
}
.ext-info .tip{
    margin-bottom: 15px;
}