.visit-count{
    margin-left:20px;
}
.cell .topic-title-wrapper{
    font-size: 22px;
}
.cell .topic-title{
    font-size:inherit;
    color:#333;
    font-weight: normal;
}
.cell .label{
    position: relative;
    top: -2px;
}
.label{

}
#topic{
    padding:15px 20px;
}
.topic-title{
    padding-bottom:10px;
    /* border-bottom: 1px solid #ddd; */
}
.topic-title h1 {
    font-size: 20px;
    font-weight: normal;
    margin: 5px 0px 0px;
    padding: 0;
}
.topic-title .label{
    position: relative;
    top: -4px;
    margin-right: 5px;
}
.topic-content{
    padding:10px 0px;
    max-width: 100%;
    height: auto;
    font-size: 14px;
}
#topic img{
    max-width: 100% !important;
    height: auto;
}
#topic .zans .action {
    color: #666;
    font-size: 13px;
    line-height: 30px;
    text-decoration: none;
    height: 30px;
    padding: 0 10px;
    display: inline-block;
    background: #fff;
    border-radius: 5px;
}
#topic .zans .zan {
    background: #f27369;
    color: #fff;
}
#topic .zans .action {
    font-size: 12px;
    margin-right: 10px;
    float: left;
}
.zans .btn{
    margin-right: 10px;
}
.zans .zanlogs a {
    display: inline-block;
}
.zans .zanlogs a img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-right: 5px;
    border: 2px solid #fff;
    box-shadow: 1px 1px 2px #ccc;
    margin-top: -2px;;
}
.topic-comments .btns .btn{
    padding-left: 0px;
    margin-right: 5px;
}
.closed-tip{
    text-align: center;
    color: #999;
}
textarea.reply-area{
    display: block;
    width: 100%;
    height: 80px;
    border-radius: 3px;
}
.ext-info{
    margin-top: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 15px 16px;
    margin-bottom: 10px;
    line-height: 20px;
}
.ext-info .checkbox,.ext-info .radio{
    margin-bottom: 15px;
}
.ext-info label{
    font-weight: normal;
}
.ext-info .progress{
    height: 10px;
    margin-top: 4px;
    margin-bottom: 10px;
}
.ext-info .label{
    padding: 0.1em 0.3em;
    margin-left: 10px;
    font-weight: normal;
}
.ext-info .type-stat{
    margin-bottom: 15px;
    line-height: 22px;
}
.ext-info .tip{
    margin-bottom: 15px;
}
.reply-btn{
    margin-top: 10px;
}
.topic-author .card-mini{
    padding: 20px 10px 10px 80px;
}
.card-mini .avatar{
    margin-left: -65px;
}
.topic-author .card-mini .avatar,
.topic-author .card-mini .avatar img{
    width: 50px;
    height: 50px;
}
.topic-author .card-mini .info {
    margin-top: 8px;
}
.topic-author .topic-fast-group{
    padding-bottom: 15px;
    margin-top: 5px;
}
.mgr-oper .btn{
    margin-bottom: 5px;
    margin-right: 1px;
}
.mgr-oper hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

.img-thumb-wrap{
    width: 220px;
    height: 150px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    padding: 4px;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
}
.img-thumb-wrap img{
    max-width: 100%;
}
.img-thumb-wrap:hover, .img-thumb-wrap.active{
    border:3px solid #fb8318;
    padding: 1px;
}
.tonew-extbtn{
    margin-top: 10px;
    margin-bottom: 5px;
}