<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>威尼斯水城社区</title>
    <!--<link rel="stylesheet" href="../../components/css/normalize.css">-->
    <link rel="stylesheet" href="../../c/css/normalize.css">
    <link rel="stylesheet" href="../../c/css/base.css">
    <link rel="stylesheet" href="../../../bower_components/bootstrap/dist/css/bootstrap.css">

    <link rel="stylesheet" href="../../c/css/grid.css">
    <link rel="stylesheet" href="../index/index.css">
    <link rel="stylesheet" href="../forum/index.css">
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="navbar navbar-fixed-top">
        <div class="grid-container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" style="padding:10px 15px">
                    <img alt="Brand" src="/public/images/logo.png">
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="../index/index.html">首页</a>
                </li>
                <li><a href="#">小区黄页</a>
                </li>
                <li><a href="../forum/index.html">论坛</a>
                </li>
                <li><a href="#">版块</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/signup">注册</a>
                </li>
                <li><a href="/signin">登录</a>
                </li>
            </ul>
            <a class="btn btn-navbar" id="responsive-sidebar-trigger">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </div>
    </div>
    <div class="grid-container">
        <div class="grid-row">
            <div>
                <ol class="breadcrumb">
                    <li><a href="#">首页</a>
                    </li>
                    <li><a href="#">小区黄页</a>
                    </li>
                </ol>
            </div>
        </div>
        <div class="grid-row">
            <div class="main-content grid-lg-24 grid-md-18 grid-sm-12">
                <div id="J_contentBody" class="panel">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#">公共服务</a>
                        </li>
                        <li role="presentation"><a href="#">外卖</a>
                        </li>
                        <li role="presentation"><a href="#">超市</a></li>
                        <li role="presentation"><a href="#">邻里店</a></li>
                        <li role="presentation"><a href="#">其他</a></li>
                    </ul>
                    <table class="table table-striped tabs-panel">
                        <tbody>
                            <tr>
                                <td>沿江派出所</td>
                                <td>18888888888</td>
                                <td>紫禁城路一号</td>
                            </tr>
                            <tr>
                                <td>自来水公司</td>
                                <td>18888888888</td>
                                <td>紫禁城路一号</td>
                            </tr>
                            <tr>
                                <td>一街区物业</td>
                                <td>18888888888</td>
                                <td>紫禁城路一号</td>
                            </tr>
                            <tr>
                                <td>二街区物业</td>
                                <td>18888888888</td>
                                <td>紫禁城路一号</td>
                            </tr>
                            <tr>
                                <td>三街区物业</td>
                                <td>18888888888</td>
                                <td>紫禁城路一号</td>
                            </tr>
                            <tr>
                                <td>四街区物业</td>
                                <td>18888888888</td>
                                <td>紫禁城路一号</td>
                            </tr>
                            <tr>
                                <td>五街区物业</td>
                                <td>18888888888</td>
                                <td>紫禁城路一号</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped tabs-panel">
                        <tbody>
                            <tr>
                                <td>江南人民公社</td>
                                <td>18888888888</td>
                                <td>十五街区</td>
                                <td>配送范围：整个威尼斯</td>
                            </tr>
                            <tr>
                                <td>湘香乡</td>
                                <td>18888888888</td>
                                <td>十街区</td>
                                <td>配送范围：整个威尼斯、辣</td>
                            </tr>
                            <tr>
                                <td>江南人民公社</td>
                                <td>18888888888</td>
                                <td>十五街区</td>
                                <td>配送范围：整个威尼斯</td>
                            </tr>
                            <tr>
                                <td>湘香乡</td>
                                <td>18888888888</td>
                                <td>十街区</td>
                                <td>配送范围：整个威尼斯、辣</td>
                            </tr>
                            <tr>
                                <td>江南人民公社</td>
                                <td>18888888888</td>
                                <td>十五街区</td>
                                <td>配送范围：整个威尼斯</td>
                            </tr>
                            <tr>
                                <td>湘香乡</td>
                                <td>18888888888</td>
                                <td>十街区</td>
                                <td>配送范围：整个威尼斯、辣</td>
                            </tr>
                            <tr>
                                <td>江南人民公社</td>
                                <td>18888888888</td>
                                <td>十五街区</td>
                                <td>配送范围：整个威尼斯</td>
                            </tr>
                            <tr>
                                <td>湘香乡</td>
                                <td>18888888888</td>
                                <td>十街区</td>
                                <td>配送范围：整个威尼斯、辣</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped tabs-panel">
                        <tbody>
                            <tr>
                                <td>易买得</td>
                                <td>18888888888</td>
                                <td>十五街区</td>
                                <td>不配送</td>
                            </tr>
                            <tr>
                                <td>易买得</td>
                                <td>18888888888</td>
                                <td>十五街区</td>
                                <td>不配送</td>
                            </tr>
                            <tr>
                                <td>易买得</td>
                                <td>18888888888</td>
                                <td>十五街区</td>
                                <td>不配送</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped tabs-panel">
                        <tbody>
                            <tr>
                                <td>干洗店</td>
                                <td>18888888888</td>
                                <td>十五街区</td>
                                <td>不配送</td>
                            </tr>
                            <tr>
                                <td>炒货店</td>
                                <td>18888888888</td>
                                <td>十五街区</td>
                                <td>不配送</td>
                            </tr>
                            <tr>
                                <td>缝纫店</td>
                                <td>18888888888</td>
                                <td>十五街区</td>
                                <td>不配送</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped tabs-panel">
                        <tbody>
                            <tr>
                                <td>开锁师傅</td>
                                <td>18888888888</td>
                                <td>十五街区</td>
                                <td>不配送</td>
                            </tr>
                            <tr>
                                <td>出租车师傅</td>
                                <td>18888888888</td>
                                <td>十五街区</td>
                                <td>不配送</td>
                            </tr>
                            <tr>
                                <td>收废品</td>
                                <td>18888888888</td>
                                <td>十五街区</td>
                                <td>不配送</td>
                            </tr>
                            <tr>
                                <td>保洁</td>
                                <td>18888888888</td>
                                <td>十五街区</td>
                                <td>不配送</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="grid-sm-6">
                <a href="javascript:;" class="btn btn-lg topic-pub-btn">发表帖子</a>
                <div class="panel side-hotforums">
                    <div class="panel-heading">
                        <h3 class="panel-title">常用模块</h3>
                    </div>
                    <ul class="clearfix">
                        <li><a href="#">小区黄页</a>
                        </li>
                        <li class="even"><a href="#">生活医疗</a>
                        </li>
                        <li><a href="#">儿童教育</a>
                        </li>
                        <li class="even"><a href="#">出行交通</a>
                        </li>
                        <li><a href="#">摄影交流</a>
                        </li>
                        <li class="even"><a href="#">体育运动</a>
                        </li>
                        <li><a href="#">户外运动</a>
                        </li>
                        <li class="even"><a href="#">1</a>
                        </li>
                        <li><a href="#">1</a>
                        </li>
                        <li class="even"><a href="#">1</a>
                        </li>
                    </ul>
                </div>
                <div class="panel">
                    <div class="panel-heading">Panel heading without title</div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../c/requirejs/require-min.js"></script>
    <script type="text/javascript" src="../../c/requirejs/require-config.js"></script>
    <script type="text/javascript">
    require(['jquery', 'sib/tabs/1.0/Tabs'], function($, Tabs){
        new Tabs({
            target : '#J_contentBody',
            triggers : '.nav-tabs li',
            panels   : '.tabs-panel',
            triggerActiveCls : 'active',
            addDefaultCls : false
        });
    });
    </script>
</body>

</html>
