{{#extend "layout"}}
    {{#append "css"}}
        <link rel="stylesheet" href="/assets/p/forum/index.css">
    {{/append}}
    {{#replace "breadcrumb"}}
        <div class="grid-row">
            <div>
                <ol class="breadcrumb">
                    <li><a href="/">首页</a></li>
                    <li>请先选择模块</li>
                </ol>
            </div>
        </div>
    {{/replace}}
    {{#replace "content"}}
        {{#each groups}}
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">{{name}}</div>
                </div>

                <div class="grid-row" style="padding-top:10px;">
                    {{#each children}}
                        <div class="grid-lg-6 grid-md-6 grid-sm-6">
                            <div class="" style="padding-left:20px;">
                                <a href="/topic/create?fid={{id}}">{{name}}</a>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        {{/each}}
    {{/replace}}
{{/extend}}