{{#extend "layout"}}
    {{#append "css"}}
        <link rel="stylesheet" href="/assets/p/forum/index.css">
    {{/append}}
    {{#replace "breadcrumb"}}
        <div class="grid-row">
            <div>
                <ol class="breadcrumb main-breadcrumb">
                    <li><a href="/">首页</a></li>
                    <li><a href="/forum/{{forum.id}}">{{forum.name}}</a></li>
                    <li class='active'>
                        {{~#eq action 'edit'}}编辑话题{{else}}发布话题{{/eq~}}
                    </li>
                </ol>
            </div>
        </div>
    {{/replace}}
    {{#replace "content"}}
        <div class="panel">
            <div class="panel-heading">
                {{~#eq action 'edit'}}编辑话题{{else}}发布话题{{/eq~}}
            </div>
            <div class="panel-body">
                {{#if edit_error}}
                    <div class="alert alert-error">
                        <a class="close" data-dismiss="alert" href="#">&times;</a>
                        <strong>{{edit_error}}</strong>
                    </div>
                {{/if}}
                {{#if error}}
                    <div class="alert alert-error" >
                        <strong>{{error}}</strong>
                    </div>
                {{else}}
                    <form id='create_topic_form' method='post' 
                          class="form-horizontal" role="form"
                          action='{{~#eq action 'edit' ~}}
                                      /topic/edit/{{topic_id}}
                                  {{~ else ~}}
                                      /topic/create
                                  {{~/eq ~}}' >
                        <input type="hidden" name="fid" value="{{forum.id}}" />
                        <div class="form-group">
                            <label class="col-sm-2 control-label">分类</label>
                            <div class="col-sm-10">
                                <select name="ftype_id" class="form-control">
                                    {{#each forums}}
                                        <option value="{{id}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="J_title" class="col-sm-2 control-label">标题</label>
                            <div class="col-sm-10">
                                <input type="text" name="title" class="form-control" id="J_title" placeholder="标题" value="{{~title~}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="J_title" class="col-sm-2 control-label">内容</label>
                            <div class="col-sm-10">
                                <textarea class='editor' class="form-control" name='content' rows='8'>
                                    {{~ content ~}}
                                </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <input type="checkbox" id="J_vote" name="vote" value="1"  /> 增加投票
                            </div>
                        </div>
                        <div id="J_voteArea" style="display:none;">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">计票天数</label>
                                <div class="col-sm-10">
                                    <input type="text" name="expiration">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-2">
                                    <input type="checkbox" name="overt" value="1"  /> 公开投票参与人
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-2">
                                    <input type="checkbox" name="visible" value="1"  /> 投票后结果可见
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-2">
                                    <input type="radio" name="multiple" value="0"  /> 单选
                                    <input type="radio" name="multiple" value="1"  /> 多选
                                    <input type="text" style="width:60px;" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                {{/if}}
            </div>
        </div>
    {{/replace}}
    {{#replace "sidebar"}}
        {{sub "blocks/hotforums"}}
    {{/replace}}
    {{#replace "js"}}
    <script type="text/javascript">
        require(['jquery'], function($){
            $('#J_vote').on('click', function(e){
                if($(this).prop('checked')){
                    $('#J_voteArea').show();
                } else {
                    $('#J_voteArea').hide();
                }
            });
        });
    </script>
    {{/replace}}
{{/extend}}