{{#extend "layout"}}
    {{#append "css"}}
        <link rel="stylesheet" href="/assets/p/forum/index.css">
        <link rel="stylesheet" href="/assets/p/topic/index.css">
    {{/append}}
    {{#prepend "breadcrumbPath"}}
        <li><a href="/forum">论坛</a></li>
    {{/prepend}}
    {{#replace "content"}}
        <div class="panel">
            <div id="topic" class="panel-body">
                <div class="topic-title">
                    {{#if topic.top }}
                        <span class="label label-default">置顶</span>
                    {{/if}}
                    <span class="title">{{ topic.title }}</span>
                    <div class="info">
                        <em>
                            <a href="/user/{{author.id}}">{{author.name}}</a>
                            <a href="javascript:void(0);">
                                <img src="http://bbs.xiaomi.cn/static/image/xiaomibbs3/uvip_auth.png" class="vm" alt="论坛认证用户" title="论坛认证用户">
                            </a>于&nbsp;&nbsp;
                            <span>
                                {{moment create_time format='YYYY-MM-DD'}}
                            </span>&nbsp;&nbsp;发表在&nbsp;[&nbsp;
                            <a href="/forum/{{forum.id}}?ftype={{ftype.id}}">{{ftype.name}}</a>&nbsp;]
                        </em>
                    </div>
                </div>
                <div class="topic-content">
                    <div class="markdown-text">
                        {{ topic.content }}
                    </div>
                </div>
                <div class="topic-user clearfix">
                    <div class="zans clearfix">
                        <button type="button" 
                                onclick="LBL.zan({{topic.id}});"
                                class="btn btn-sm btn-success">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                            <em>{{~#each zaners}}
                                    {{~#eq user.id ../../_s.user.id}}已{{/eq ~}}
                                {{/each}}赞</em>
                            <span>{{topic.zan_count}}</span>
                        </button>
                        <span class="zanlogs">
                            {{#each zaners}}
                                <a href="/user/{{user.id}}" class="tooltip-trigger">
                                    <img src="{{#if user.head_pic ~}}
                                                {{user.head_pic}}
                                              {{~ else ~}}
                                                /assets/images/head.gif
                                              {{~/if}}">
                                </a>
                            {{/each}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        {{!-- 回复 --}}
        <div class="panel panel-module topic-comments">
            <div class="panel-heading">
                <h3 class="panel-title">跟帖</h3>
            </div>
            <div class="panel-body">
                {{#each replys}}
                    <div class="revert-it fn-clear">
                        <div class="uinfo">
                            <a href="/user/{{author_id}}" class="head-icon">
                                <img src="{{#if user.head_pic ~}}
                                            {{user.head_pic}}
                                          {{~ else ~}}
                                            /assets/images/head.gif
                                          {{~/if}}">
                            </a>
                        </div>
                        <div class="revert-bd">
                            <div class="revert-cnt-hd clearfix">
                                <a class="name" href="/user/{{author_id}}">{{user.name}}</a>
                                <span class="hd-time">{{create_time}}</span>
                                <span class="label label-default pull-right">
                                    {{calc ../replyPage.pageSize ' * (' ../replyPage.current '-1) + ' @index '+1'}}楼
                                </span>
                            </div>
                            <div class="revert-cnt">
                                {{content}}
                            </div>
                            <div class="btns">
                                <a href="#" class="btn btn-xs">
                                    <span class="glyphicon glyphicon-share"></span>
                                    <em>回复</em>
                                </a>
                                <a href="#" class="btn btn-xs">
                                    <span class="glyphicon glyphicon-retweet"></span>
                                    <em>引用</em>
                                </a>
                                <a href="#" class="btn btn-xs">
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                    <em>赞</em>
                                </a>
                            </div>
                        </div>
                    </div>
                {{/each}}
                {{page totalPages = replyPage.totalPages current=replyPage.current }}
            </div>
        </div>
        <div class="panel panel-module topic-comments">
            <div class="panel-heading">
                <h3 class="panel-title">说几句</h3>
            </div>
            <div class="panel-body">
                <form action="/reply/add/{{topic.id}}" method="post">
                    <textarea class="reply-area" name="content"></textarea>
                    <input type="submit" value="提交" class="btn btn-default" />
                </form>
            </div>
        </div>
    {{/replace}}
    {{#replace "topicPubBtn"}}
        <div class="panel topic-fast-btns">
            <a href="/topic/create{{#if forum}}?fid={{forum.id}}{{/if}}" 
                class="btn btn-sm topic-pub-btn">
                <span class="glyphicon glyphicon-edit"></span>&nbsp;
                <span>发表帖子</span>
            </a>
            <div class="x-grid-row topic-fast-group">
                <div class="x-grid-1-4">
                    <a href="#" class="topic-fast-btn">
                        <span class="glyphicon glyphicon-share"></span>
                        <p>回复</p>
                    </a>
                </div>
                <div class="x-grid-1-4">
                    <a href="#" class="topic-fast-btn">
                        <span class="glyphicon glyphicon-share-alt"></span>
                        <p>分享</p>
                    </a>
                </div>
                <div class="x-grid-1-4">
                    <a href="javascript:LBL.collectTopic({{topic.id}});" class="topic-fast-btn">
                        <span class="glyphicon glyphicon-heart-empty"></span>
                        <p>收藏</p>
                    </a>
                </div>
                <div class="x-grid-1-4">
                    <a href="javascript:LBL.zan({{topic.id}});" class="topic-fast-btn last">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <p> {{~#each zaners}}
                                {{~#eq user.id ../_s.user.id}}已{{/eq ~}}
                            {{/each}}赞</p>
                    </a>
                </div>
            </div>
        </div>
    {{/replace}}
{{/extend}}cmd