{{#extend "layout"}}
    {{#append "css"}}
        <link rel="stylesheet" href="/assets/p/forum/index.css">
        <link rel="stylesheet" href="/assets/p/topic/index.css">
    {{/append}}
    {{#prepend "breadcrumbPath"}}
        <li><a href="/forum">论坛</a></li>
    {{/prepend}}
    {{#replace "content"}}
        <div class="panel">
            <div id="topic" class="panel-body">
                <div class="topic-title">
                    <h1>
                        {{ topic.title }}
                        {{#if topic.top }}
                            <span class="label label-default">置顶</span>
                        {{/if}}
                        {{#if topic.highlight }}
                            <span class="label label-default">高亮</span>
                        {{/if}}
                        {{#if topic.digest }}
                            <span class="label label-default">精华</span>
                        {{/if}}
                        {{#if topic.is_hot }}
                            <span class="label label-default">热门</span>
                        {{/if}}
                    </h1>
                    <div class="info">
                        <em class="info-label">
                            <span>
                                {{moment create_time format='YYYY-MM-DD hh:mm:ss'}}
                            </span>&nbsp;&nbsp;发表在&nbsp;[&nbsp;
                            <a href="/forum/{{forum.id}}?ftype={{ftype.id}}"
                                class="info-label">{{ftype.name}}</a>&nbsp;]
                        </em>
                        <span class="pull-right">
                            <em class="info-label">
                                <span class="glyphicon glyphicon-eye-open"></span> {{topic.visit_count}}
                            </em>
                            <em class="info-label last">
                                <span class="glyphicon glyphicon-comment"></span> {{topic.reply_count}}
                            </em>
                        </span>
                    </div>
                </div>
                <div class="topic-content">
                    <div class="markdown-text">
                        {{{ topic.content }}}
                    </div>
                    {{#eq topic.type 1}}
                        <div class="ext-info">
                            <div class="type-stat">
                                <strong>
                                    {{#eq ext.poll.multiple 1}}多选{{else}}单选{{/eq}}投票
                                    {{#and (eq ext.poll.multiple 1) ext.poll.maxchoices}}
                                        (做多可选{{ext.poll.maxchoices}}个)
                                    {{/and}}
                                </strong>
                                <span style="margin-left:10px;">共{{#if ext.poll.voters ~}}
                                            {{~ ext.poll.voters ~}}
                                        {{else}}0{{/if}}人参与投票&nbsp;&nbsp;
                                    {{#or ext.voteEnd (and ext.alreadyVote (eq ext.poll.overt 1))}}
                                        <a href="#">查看投票参与人</a>
                                    {{/or}}
                                </span>
                                {{#if ext.alreadyVote}}
                                    <p>您已经参与投票</p>
                                {{/if}}
                                {{#if ext.voteEnd}}
                                    <p>投票已结束</p>
                                {{/if}}
                            </div>
                            {{#if ext.showResult}}
                                {{#each ext.options}}
                                    <label>{{calc @index '+1'}}. {{option}}</label>
                                    <div class="grid-row">
                                        <div class="grid-lg-19 grid-md-13 grid-sm-7">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success"
                                                     style="width: 
                                                    {{~#gt ../ext.poll.voters 0}}
                                                        {{~ calc voters '*100/' ../../ext.poll.voters}}% 
                                                    {{~ else ~}}
                                                        0
                                                    {{~/gt ~}}%">
                                                    <span class="sr-only"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid-sm-3">
                                            {{~#gt ../ext.poll.voters 0}}
                                                {{~ calc voters '*100/' ../../ext.poll.voters}}
                                            {{~ else ~}}
                                                0
                                            {{~/gt ~}}%
                                            <span class="label label-default">{{voters}}</span>
                                        </div>
                                    </div>
                                {{/each}}
                            {{else}}
                                <form id="J_voteForm" onsubmit="return false;">
                                {{#each ext.options}}
                                    {{#eq ../ext.poll.multiple 1}}
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="option" value="{{poid}}">
                                                {{calc @index '+1'}}. {{option}}
                                            </label>
                                        </div>
                                    {{else}}
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="option" value="{{poid}}">
                                                {{calc @index '+1'}}. {{option}}
                                            </label>
                                        </div>
                                    {{/eq}}
                                {{/each}}
                                <input type="submit" value="提交投票" class="btn btn-sm btn-primary">
                                </form>
                                <script type="text/javascript">
                                require(['jquery', 'sib.sib', 'sib.dialog'], function($, Sib, Dialog){
                                    var maxCount = 0;
                                    {{#and (eq ext.poll.multiple 1) ext.poll.maxchoices}}
                                        maxCount = {{ext.poll.maxchoices}};
                                    {{/and}}
                                    $('#J_voteForm').submit(function(){
                                        var fj = Sib.form2json('#J_voteForm');
                                        if(maxCount > 0 && (fj.option && fj.option.length > maxCount)) {
                                            Dialog.tip('可选最大数量不能超过' + maxCount + '个！');
                                            return;
                                        }
                                        $.ajax({
                                            url : '/topic/{{topic.id}}/vote',
                                            type : 'POST',
                                            data : fj,
                                            success : function(ret){
                                                if(ret.code == 1) {
                                                    Dialog.tip(ret.msg);
                                                }
                                            },
                                            error : function(err){
                                                Dialog.tip(err.responseText);
                                            }
                                        });
                                        return false;
                                    });
                                });
                                </script>
                            {{/if}}
                        </div>
                    {{/eq}}
                </div>
                <div class="topic-user clearfix">
                    <div class="zans clearfix">
                        <button type="button" 
                                onclick="LBL.zan({{topic.id}});"
                                class="btn btn-sm btn-success">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                            <em>{{~#each zaners}}
                                    {{~#eq user.id ../../_s.user.id}}已{{/eq ~}}
                                {{/each}}赞</em>
                            <span>{{topic.zan_count}}</span>
                        </button>
                        <span class="zanlogs">
                            {{#each zaners}}
                                <a href="/user/{{user.id}}" class="tooltip-trigger" 
                                    data-tip-title="{{user.nickname}}">
                                    <img src="{{#if user.avatar ~}}
                                                {{user.avatar}}
                                              {{~ else ~}}
                                                /assets/images/head.gif
                                              {{~/if}}">
                                </a>
                            {{/each}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        {{!-- 回复 --}}
        <div class="panel panel-module topic-comments">
            <div class="panel-heading">
                <h3 class="panel-title">跟帖</h3>
            </div>
            <div class="panel-body">
                {{#each replys}}
                    <div class="revert-it fn-clear">
                        <div class="uinfo">
                            <a href="/user/{{author_id}}" class="head-icon">
                                <img src="{{#if user.avatar ~}}
                                            {{user.avatar}}
                                          {{~ else ~}}
                                            /assets/images/head.gif
                                          {{~/if}}">
                            </a>
                        </div>
                        <div class="revert-bd">
                            <div class="revert-cnt-hd clearfix">
                                <a class="name" href="/user/{{author_id}}">{{user.nickname}}</a>
                                <span class="hd-time">
                                    {{moment create_time format='YYYY-MM-DD hh:mm:ss'}}
                                </span>
                                {{#if position}}
                                    <span class="label label-default pull-right">
                                        {{!--{{calc ../replyPage.pageSize ' * (' ../replyPage.current '-1) + ' @index '+1'}}楼--}}
                                        {{position}} 楼
                                    </span>
                                {{/if}}
                            </div>
                            <div class="revert-cnt">
                                {{{content}}}
                            </div>
                            <div class="btns">
                                <a href="#" class="btn btn-xs">
                                    <span class="glyphicon glyphicon-share"></span>
                                    <em>回复</em>
                                </a>
                                <a href="#" class="btn btn-xs">
                                    <span class="glyphicon glyphicon-retweet"></span>
                                    <em>引用</em>
                                </a>
                                <a href="javascript:LBL.zanReply({{id}});" class="btn btn-xs">
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                    <em>赞 ({{zan_count}})</em>
                                </a>
                            </div>
                        </div>
                    </div>
                {{/each}}
                {{page totalPages = replyPage.totalPages current=replyPage.current }}
            </div>
        </div>
        <div class="panel panel-module topic-comments">
            <div class="panel-heading">
                <h3 class="panel-title">说几句</h3>
            </div>
            <div class="panel-body">
                {{#eq topic.closed 1}}
                    <p class="closed-tip">已关闭评论</p>
                {{else}}
                    <form action="/reply/add/{{topic.id}}" method="post">
                        <textarea class="reply-area ckeditor" name="content"></textarea>
                        <input type="submit" value="提交" class="btn btn-default reply-btn" />
                    </form>
                {{/eq}}
            </div>
        </div>
    {{/replace}}
    {{#replace "topicPubBtn"}}
        {{#if _s.user.is_admin}}
            {{sub "topic/actions"}}
        {{else}}
            {{#if _s.user}}
                {{#each _s.mgrForums}}
                    {{#eq fid ../topic.fid}}
                        {{sub "topic/actions"}}
                    {{/eq}}
                {{/each}}
            {{/if}}
        {{/if}}
        <div class="panel topic-author">
            <div class="card-mini clearfix">
                <a class="avatar" href="#">
                    <img src="{{#if author.avatar ~}}
                                {{author.avatar}}
                              {{~ else ~}}
                                /assets/images/head.gif
                              {{~/if}}">
                </a>
                <div class="card-wrapper">
                    <h2 class="title">
                        <a href="/user/{{author.id}}">{{author.nickname}}</a>
                    </h2>
                    <!-- <div class="info">
                        <em>
                            <span class="info-label">主题：</span>
                            <span class="info-value">{{author.topics}}</span>
                        </em>
                        <em>
                            <span class="info-label">跟帖：</span>
                            <span class="info-value">{{author.posts}}</span>
                        </em>
                    </div> -->
                    <div class="info">
                        <button class="btn btn-xs btn-gray" onclick="LBL.addFriend({{author.id}});">
                            <span class="glyphicon glyphicon-plus"></span> 加好友
                        </button>
                        <button class="btn btn-xs btn-gray" onclick="LBL.follow({{author.id}});">
                            <span class="glyphicon glyphicon-plus"></span> 关注
                        </button>
                    </div>
                </div>
            </div>
            <div class="x-grid-row topic-fast-group">
                <div class="x-grid-1-3">
                    <a class="topic-fast-btn" href="/user/{{author.id}}/topic">
                        <b>
                            {{#if author.user_count.topics}}
                                {{author.user_count.topics}}
                            {{else}}0{{/if}}
                        </b>
                        <p>主题</p>
                    </a>
                </div>
                <div class="x-grid-1-3">
                    <a class="topic-fast-btn" href="/user/{{author.id}}/posts">
                        <b>
                            {{#if author.user_count.replys}}
                                {{author.user_count.replys}}
                            {{else}}0{{/if}}
                        </b>
                        <p>帖子</p>
                    </a>
                </div>
                <div class="x-grid-1-3">
                    <a class="topic-fast-btn last" href="/user/{{author.id}}/friends">
                        <b>
                            {{#if author.user_count.friends}}
                                {{author.user_count.friends}}
                            {{else}}0{{/if}}
                        </b>
                        <p>好友</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="panel topic-fast-btns">
            <a href="/topic/create{{#if forum}}?fid={{forum.id}}{{/if}}" 
                class="btn btn-sm topic-pub-btn">
                <span class="glyphicon glyphicon-edit"></span>&nbsp;
                <span>发表帖子</span>
            </a>
            <div class="x-grid-row topic-fast-group">
                <div class="x-grid-1-4">
                    <a href="#" class="topic-fast-btn">
                        <span class="glyphicon glyphicon-share"></span>
                        <p>回复</p>
                    </a>
                </div>
                <div class="x-grid-1-4">
                    <a href="#" class="topic-fast-btn">
                        <span class="glyphicon glyphicon-share-alt"></span>
                        <p>分享</p>
                    </a>
                </div>
                <div class="x-grid-1-4">
                    <a href="javascript:LBL.collectTopic({{topic.id}});" class="topic-fast-btn">
                        <span class="glyphicon glyphicon-heart-empty"></span>
                        <p>收藏</p>
                    </a>
                </div>
                <div class="x-grid-1-4">
                    <a href="javascript:LBL.zan({{topic.id}});" class="topic-fast-btn last">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <p> {{~#each zaners}}
                                {{~#eq user.id ../_s.user.id}}已{{/eq ~}}
                            {{/each}}赞</p>
                    </a>
                </div>
            </div>
        </div>
    {{/replace}}
    {{#replace "js"}}
    {{#ne topic.closed 1}}
        <script type="text/javascript" src="/assets/c/gallery/ckeditor/ckeditor.js"></script>
    {{/ne}}
    <script type="text/javascript">
    /*require(['jquery', 'umeditor'], function($, UM){
        alert(UM);
    });*/
    </script>
    {{/replace}}
{{/extend}}