.upage-base{
    background-color: #b4daf0;
    background-repeat: repeat-x;
    background-position: center 0;
}
.upage-bgimg{
    background: url(http://img.t.sinajs.cn/t6/skin/skin055/images/body_bg_page.jpg?id=1410943047113) no-repeat center -38px;
    /* background: url(http://img.t.sinajs.cn/t6/skin/skin049/images/body_bg_page.jpg?id=1414052827385) no-repeat center -60px; */
}
.upage-main{
    position: relative;
}
.upage-base .header{
    background: transparent;
    background-color: rgba(0,0,0,.3);
}
.upage-base .header .nav > li a{
    color: #fff;
}
.upage-base .header .user-detail-con{
    opacity:0.9;
    filter:alpha(opacity=90);
    -moz-opacity:0.9;
    -khtml-opacity: 0.9;
}
.upage-base .header .user-detail-con li a{
    color: #777;
}

.upage-base .wrapper-main{
    padding-top: 0px;
}
.upage-uinfo{
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    padding-top: 120px;
}
.upage-intro{
    margin-top: 4px;
    color: #fff;
    line-height: 18px;
    text-shadow: 0 0 4px rgba(0,0,0,0.5);
    font-size: 14px;
}
.upage-uinfo-bg, .upage-uinfo-bg-2{
    position: absolute;
    /* top: 120px; */
    z-index: 1;
    background: #fff;
    opacity: 0.1;
    opacity:10;
    filter:alpha(opacity=10);
    -moz-opacity:0.1;
    -khtml-opacity: 0.1;
    width: 100%;
    height: 40px;
    bottom: 0px;
}
.upage-uinfo-bg-2{
    opacity: 0.3;
    opacity:30;
    filter:alpha(opacity=30);
    -moz-opacity:0.3;
    -khtml-opacity: 0.3;
    bottom:0px;
    height: 40px;
}
.upage-opt{
    margin-top: 20px;
}
.upage-opt .btn{
    margin-right:5px;
}
.upage-uinfo .topic-fast-group{
    margin-top: 50px;
}
.upage-uinfo .topic-fast-group a{
    color: #fff;
}
.upage-hnav{
    text-align: center;
    z-index: 5;
    margin-top: 10px;
    color: #fff;
    font-size: 15px;
    position: relative;
    height: 36px;
}
.upage-hnav-in{
    position: relative;
    z-index: 10;
}
.upage-hnav a{
    display: inline-block;
    *display: inline;
    *zoom:1;
    color: #fff;
    height: 36px;
    overflow: hidden;
    padding: 0px 5px;
    white-space: nowrap;
    position: relative;
    line-height: 34px;
}
.upage-hnav .act-border{
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #f7691d;
    opacity: 0;
    bottom: -2px;
    z-index: 500;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
    overflow: hidden;
}
.upage-hnav .current .act-border,
.upage-hnav a:hover .act-border {
    bottom: 0px;
    opacity: 1;
}
.upage-hnav .seperator{
    display: inline-block;
    *display: inline;
    *zoom:1;
    cursor: default;
    padding: 0;
}
.upage-hnav a:hover{
    text-decoration: none;
}
.upage-hnav .seperator:before {
    content: '\2022';
    padding: 0px 10px;
}
/* .S_bg2, blockquote, .W_btn_b, .W_input, .SW_fun_bg {
    background-color: #fff;
} */
.WB_cardwrap {
}
.W_person_info {

}
.upage-cover{
    position: relative;
    z-index: 5;
}
.upage-iwrap{
}
.upage-cover .headpic {
    width: 130px;
    height: 130px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    margin: 0px auto;
}
.upage-cover .headpic img{
    width: 120px;
    height: 120px;
    margin: 5px;
    border-radius: 50%;
    position: relative;
    z-index: 5;
}
.upage-uinfo .uinfo-inner {
    margin: 0px 0px 19px 0px;
    position: relative;
    z-index: 5;
    text-align: left;
}

.upage-uinfo .name-box {
    overflow: hidden;
    padding-top: 10px;
    line-height: 1.3;
    color:#fff;
    text-shadow: 0 0 4px rgba(0,0,0,0.5);
    vertical-align: text-bottom;
}
.upage-uinfo .name-box .name {
    overflow: hidden;
    font-size: 32px;
    white-space: nowrap;
    color: #fff;
}
.upage-info-list dt,
.upage-info-list dd{
    line-height: 35px;
}

@media (max-width: 768px) {
    .upage-uinfo .uinfo-inner{
        text-align: center;
    }
    .upage-uinfo .name-box .name{
        font-size: 22px;
    }
    .upage-cover .headpic {
        width: 90px;
        height: 90px;
    }
    .upage-cover .headpic img{
        width: 80px;
        height: 80px;
    }
    .upage-uinfo .topic-fast-group{
        display: none;
    }
}

/** 管理 **/
.mgr-panel{
    background: #fafafa;
}
.mgr-cnt-wrap{
    margin-bottom: 0px;
}
.mgr-cnt{
    padding: 20px 10px 10px 20px;
    background: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 1px solid #ddd;
    min-height: 400px;
}
.mgr-leftnav{
    height: 100%;
    background: #fafafa;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-right: -10px;
}
.mgr-leftnav .mt{
    padding:15px 0px 15px 10px;
    margin:0px;
    font-size: 16px;
    font-weight: bold;
}
.mgr-leftnav ul{
    padding-left: 0px;
}
.mgr-leftnav li {
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    height: 33px;
    border-bottom: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
    margin-top: -1px;
}
.mgr-leftnav li a{
    display: block;
    height: 33px;
    line-height: 33px;
}
.mgr-leftnav li.current {
    margin-right: -1px;
    background: #FFF;
    position: relative;
    z-index: 1000;
}
.bbsa {
    border-bottom: 1px solid #e6e6e6;
}