@charset "utf-8";
.sib-menu {list-style: none;padding: 2px;margin: 0;outline: none;}
.sib-menu .sib-menu {margin-top: -3px;position: absolute;}
.sib-menu-item {/* position:relative; */
    list-style-position:outside;/*IE6 BUG*/ 
    margin: 0;
    padding: 0;
    display:block;
    width: 100%;/* support: IE10, see #8844 */
    position:relative;
    list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);}
.sib-menu-divider {margin: 5px -2px 5px -2px;height: 0;font-size: 0;line-height: 0;border-width: 1px 0 0 0;}
.sib-menu-item a {text-decoration: none;display: block;padding: 2px .4em;line-height: 1.5;min-height: 0; /* support: IE7 */font-weight: normal;zoom:1}
.sib-menu-item .sib-state-focus,
.sib-menu-item .sib-state-active {font-weight: normal;margin: -1px;}
.sib-menu .sib-state-disabled {font-weight: normal;margin: .4em 0 .2em;line-height: 1.5;}
.sib-menu .sib-state-disabled a {cursor: default;}

/* icon support */
.sib-menu-icons {position: relative;}
.sib-menu-icons .sib-menu-item a {position: relative;padding-left: 2em;}

/* left-aligned */
.sib-menu .sib-icon {position: absolute;top: .2em;left: .2em;}

/* right-aligned */
.sib-menu .sib-menu-icon {position: static;float: right;}







/* Corner radius */
.sib-radius-all,
.sib-radius-t,
.sib-radius-l,
.sib-radius-tl {
    border-top-left-radius: 4px;
}
.sib-radius-all,
.sib-radius-t,
.sib-radius-r,
.sib-radius-tr {
    border-top-right-radius: 4px;
}
.sib-radius-all,
.sib-radius-b,
.sib-radius-l,
.sib-radius-bl {
    border-bottom-left-radius: 4px;
}
.sib-radius-all,
.sib-radius-b,
.sib-radius-r,
.sib-radius-br {
    border-bottom-right-radius: 4px;
}

.sib-widget{font-family: Verdana,Arial,sans-serif;font-size: 1.1em;}
.sib-widget-content {border: 1px solid #aaaaaa;background: #ffffff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;color: #222222;}
/* Overlays */
.sib-overlay {
    background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
    opacity: .3;
    filter: Alpha(Opacity=30);
}
.sib-shadow {
    margin: -8px 0 0 -8px;
    padding: 8px;
    background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
    opacity: .3;
    filter: Alpha(Opacity=30);
    border-radius: 8px;
}








/* Icons
----------------------------------*/

/* states and images */
.sib-icon {
    width: 16px;
    height: 16px;
}
.sib-icon,
.sib-widget-content .sib-icon {
    background-image: url(images/ui-icons_222222_256x240.png);
}
.sib-widget-header .sib-icon {
    background-image: url(images/ui-icons_222222_256x240.png);
}
.sib-state-default .sib-icon {
    background-image: url(images/ui-icons_888888_256x240.png);
}
.sib-state-hover .sib-icon,
.sib-state-focus .sib-icon {
    background-image: url(images/ui-icons_454545_256x240.png);
}
.sib-state-active .sib-icon {
    background-image: url(images/ui-icons_454545_256x240.png);
}
.sib-state-highlight .sib-icon {
    background-image: url(images/ui-icons_2e83ff_256x240.png);
}
.sib-state-error .sib-icon,
.sib-state-error-text .sib-icon {
    background-image: url(images/ui-icons_cd0a0a_256x240.png);
}

/* positioning */
.sib-icon-blank { background-position: 16px 16px; }
.sib-icon-carat-1-n { background-position: 0 0; }
.sib-icon-carat-1-ne { background-position: -16px 0; }
.sib-icon-carat-1-e { background-position: -32px 0; }
.sib-icon-carat-1-se { background-position: -48px 0; }
.sib-icon-carat-1-s { background-position: -64px 0; }
.sib-icon-carat-1-sw { background-position: -80px 0; }
.sib-icon-carat-1-w { background-position: -96px 0; }
.sib-icon-carat-1-nw { background-position: -112px 0; }
.sib-icon-carat-2-n-s { background-position: -128px 0; }
.sib-icon-carat-2-e-w { background-position: -144px 0; }
.sib-icon-triangle-1-n { background-position: 0 -16px; }
.sib-icon-triangle-1-ne { background-position: -16px -16px; }
.sib-icon-triangle-1-e { background-position: -32px -16px; }
.sib-icon-triangle-1-se { background-position: -48px -16px; }
.sib-icon-triangle-1-s { background-position: -64px -16px; }
.sib-icon-triangle-1-sw { background-position: -80px -16px; }
.sib-icon-triangle-1-w { background-position: -96px -16px; }
.sib-icon-triangle-1-nw { background-position: -112px -16px; }
.sib-icon-triangle-2-n-s { background-position: -128px -16px; }
.sib-icon-triangle-2-e-w { background-position: -144px -16px; }
.sib-icon-arrow-1-n { background-position: 0 -32px; }
.sib-icon-arrow-1-ne { background-position: -16px -32px; }
.sib-icon-arrow-1-e { background-position: -32px -32px; }
.sib-icon-arrow-1-se { background-position: -48px -32px; }
.sib-icon-arrow-1-s { background-position: -64px -32px; }
.sib-icon-arrow-1-sw { background-position: -80px -32px; }
.sib-icon-arrow-1-w { background-position: -96px -32px; }
.sib-icon-arrow-1-nw { background-position: -112px -32px; }
.sib-icon-arrow-2-n-s { background-position: -128px -32px; }
.sib-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.sib-icon-arrow-2-e-w { background-position: -160px -32px; }
.sib-icon-arrow-2-se-nw { background-position: -176px -32px; }
.sib-icon-arrowstop-1-n { background-position: -192px -32px; }
.sib-icon-arrowstop-1-e { background-position: -208px -32px; }
.sib-icon-arrowstop-1-s { background-position: -224px -32px; }
.sib-icon-arrowstop-1-w { background-position: -240px -32px; }
.sib-icon-arrowthick-1-n { background-position: 0 -48px; }
.sib-icon-arrowthick-1-ne { background-position: -16px -48px; }
.sib-icon-arrowthick-1-e { background-position: -32px -48px; }
.sib-icon-arrowthick-1-se { background-position: -48px -48px; }
.sib-icon-arrowthick-1-s { background-position: -64px -48px; }
.sib-icon-arrowthick-1-sw { background-position: -80px -48px; }
.sib-icon-arrowthick-1-w { background-position: -96px -48px; }
.sib-icon-arrowthick-1-nw { background-position: -112px -48px; }
.sib-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.sib-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.sib-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.sib-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.sib-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.sib-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.sib-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.sib-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.sib-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.sib-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.sib-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.sib-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.sib-icon-arrowreturn-1-w { background-position: -64px -64px; }
.sib-icon-arrowreturn-1-n { background-position: -80px -64px; }
.sib-icon-arrowreturn-1-e { background-position: -96px -64px; }
.sib-icon-arrowreturn-1-s { background-position: -112px -64px; }
.sib-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.sib-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.sib-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.sib-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.sib-icon-arrow-4 { background-position: 0 -80px; }
.sib-icon-arrow-4-diag { background-position: -16px -80px; }
.sib-icon-extlink { background-position: -32px -80px; }
.sib-icon-newwin { background-position: -48px -80px; }
.sib-icon-refresh { background-position: -64px -80px; }
.sib-icon-shuffle { background-position: -80px -80px; }
.sib-icon-transfer-e-w { background-position: -96px -80px; }
.sib-icon-transferthick-e-w { background-position: -112px -80px; }
.sib-icon-folder-collapsed { background-position: 0 -96px; }
.sib-icon-folder-open { background-position: -16px -96px; }
.sib-icon-document { background-position: -32px -96px; }
.sib-icon-document-b { background-position: -48px -96px; }
.sib-icon-note { background-position: -64px -96px; }
.sib-icon-mail-closed { background-position: -80px -96px; }
.sib-icon-mail-open { background-position: -96px -96px; }
.sib-icon-suitcase { background-position: -112px -96px; }
.sib-icon-comment { background-position: -128px -96px; }
.sib-icon-person { background-position: -144px -96px; }
.sib-icon-print { background-position: -160px -96px; }
.sib-icon-trash { background-position: -176px -96px; }
.sib-icon-locked { background-position: -192px -96px; }
.sib-icon-unlocked { background-position: -208px -96px; }
.sib-icon-bookmark { background-position: -224px -96px; }
.sib-icon-tag { background-position: -240px -96px; }
.sib-icon-home { background-position: 0 -112px; }
.sib-icon-flag { background-position: -16px -112px; }
.sib-icon-calendar { background-position: -32px -112px; }
.sib-icon-cart { background-position: -48px -112px; }
.sib-icon-pencil { background-position: -64px -112px; }
.sib-icon-clock { background-position: -80px -112px; }
.sib-icon-disk { background-position: -96px -112px; }
.sib-icon-calculator { background-position: -112px -112px; }
.sib-icon-zoomin { background-position: -128px -112px; }
.sib-icon-zoomout { background-position: -144px -112px; }
.sib-icon-search { background-position: -160px -112px; }
.sib-icon-wrench { background-position: -176px -112px; }
.sib-icon-gear { background-position: -192px -112px; }
.sib-icon-heart { background-position: -208px -112px; }
.sib-icon-star { background-position: -224px -112px; }
.sib-icon-link { background-position: -240px -112px; }
.sib-icon-cancel { background-position: 0 -128px; }
.sib-icon-plus { background-position: -16px -128px; }
.sib-icon-plusthick { background-position: -32px -128px; }
.sib-icon-minus { background-position: -48px -128px; }
.sib-icon-minusthick { background-position: -64px -128px; }
.sib-icon-close { background-position: -80px -128px; }
.sib-icon-closethick { background-position: -96px -128px; }
.sib-icon-key { background-position: -112px -128px; }
.sib-icon-lightbulb { background-position: -128px -128px; }
.sib-icon-scissors { background-position: -144px -128px; }
.sib-icon-clipboard { background-position: -160px -128px; }
.sib-icon-copy { background-position: -176px -128px; }
.sib-icon-contact { background-position: -192px -128px; }
.sib-icon-image { background-position: -208px -128px; }
.sib-icon-video { background-position: -224px -128px; }
.sib-icon-script { background-position: -240px -128px; }
.sib-icon-alert { background-position: 0 -144px; }
.sib-icon-info { background-position: -16px -144px; }
.sib-icon-notice { background-position: -32px -144px; }
.sib-icon-help { background-position: -48px -144px; }
.sib-icon-check { background-position: -64px -144px; }
.sib-icon-bullet { background-position: -80px -144px; }
.sib-icon-radio-on { background-position: -96px -144px; }
.sib-icon-radio-off { background-position: -112px -144px; }
.sib-icon-pin-w { background-position: -128px -144px; }
.sib-icon-pin-s { background-position: -144px -144px; }
.sib-icon-play { background-position: 0 -160px; }
.sib-icon-pause { background-position: -16px -160px; }
.sib-icon-seek-next { background-position: -32px -160px; }
.sib-icon-seek-prev { background-position: -48px -160px; }
.sib-icon-seek-end { background-position: -64px -160px; }
.sib-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.sib-icon-seek-first { background-position: -80px -160px; }
.sib-icon-stop { background-position: -96px -160px; }
.sib-icon-eject { background-position: -112px -160px; }
.sib-icon-volume-off { background-position: -128px -160px; }
.sib-icon-volume-on { background-position: -144px -160px; }
.sib-icon-power { background-position: 0 -176px; }
.sib-icon-signal-diag { background-position: -16px -176px; }
.sib-icon-signal { background-position: -32px -176px; }
.sib-icon-battery-0 { background-position: -48px -176px; }
.sib-icon-battery-1 { background-position: -64px -176px; }
.sib-icon-battery-2 { background-position: -80px -176px; }
.sib-icon-battery-3 { background-position: -96px -176px; }
.sib-icon-circle-plus { background-position: 0 -192px; }
.sib-icon-circle-minus { background-position: -16px -192px; }
.sib-icon-circle-close { background-position: -32px -192px; }
.sib-icon-circle-triangle-e { background-position: -48px -192px; }
.sib-icon-circle-triangle-s { background-position: -64px -192px; }
.sib-icon-circle-triangle-w { background-position: -80px -192px; }
.sib-icon-circle-triangle-n { background-position: -96px -192px; }
.sib-icon-circle-arrow-e { background-position: -112px -192px; }
.sib-icon-circle-arrow-s { background-position: -128px -192px; }
.sib-icon-circle-arrow-w { background-position: -144px -192px; }
.sib-icon-circle-arrow-n { background-position: -160px -192px; }
.sib-icon-circle-zoomin { background-position: -176px -192px; }
.sib-icon-circle-zoomout { background-position: -192px -192px; }
.sib-icon-circle-check { background-position: -208px -192px; }
.sib-icon-circlesmall-plus { background-position: 0 -208px; }
.sib-icon-circlesmall-minus { background-position: -16px -208px; }
.sib-icon-circlesmall-close { background-position: -32px -208px; }
.sib-icon-squaresmall-plus { background-position: -48px -208px; }
.sib-icon-squaresmall-minus { background-position: -64px -208px; }
.sib-icon-squaresmall-close { background-position: -80px -208px; }
.sib-icon-grip-dotted-vertical { background-position: 0 -224px; }
.sib-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.sib-icon-grip-solid-vertical { background-position: -32px -224px; }
.sib-icon-grip-solid-horizontal { background-position: -48px -224px; }
.sib-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.sib-icon-grip-diagonal-se { background-position: -80px -224px; }

.sib-widget{
	font:12px/24px "Microsoft YaHei", "Arial", '宋体';
}
.sib-widget-content a {
color: #222222;
}







/* Interaction states
----------------------------------*/
.sib-state-default,
.sib-widget-content .sib-state-default,
.sib-widget-header .sib-state-default {
    border: 1px solid #d3d3d3;
    background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #555555;
}
.sib-state-default a,
.sib-state-default a:link,
.sib-state-default a:visited {
    color: #555555;
    text-decoration: none;
}
.sib-state-hover,
.sib-widget-content .sib-state-hover,
.sib-widget-header .sib-state-hover,
.sib-state-focus,
.sib-widget-content .sib-state-focus,
.sib-widget-header .sib-state-focus {
    border: 1px solid #999999;
    background: #dadada url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #212121;
}
.sib-state-hover a,
.sib-state-hover a:hover,
.sib-state-hover a:link,
.sib-state-hover a:visited {
    color: #212121;
    text-decoration: none;
}
.sib-state-active,
.sib-widget-content .sib-state-active,
.sib-widget-header .sib-state-active {
    border: 1px solid #aaaaaa;
    background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #212121;
}
.sib-state-active a,
.sib-state-active a:link,
.sib-state-active a:visited {
    color: #212121;
    text-decoration: none;
}


.sib-state-disabled,
.sib-widget-content .sib-state-disabled,
.sib-widget-header .sib-state-disabled {
    opacity: .35;
    filter:Alpha(Opacity=35);
    background-image: none;
}
.sib-state-disabled .sib-icon {
    filter:Alpha(Opacity=35); /* For IE8 - See #6059 */
}