<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        {{~#if topic ~}}
            {{~ topic.title }} - {{ config.name ~}}
        {{~ else ~}}
            {{~ config.description ~}}
        {{~/if~}}
    </title>
    {{#block "css"}}
        {{sub "topcss"}}
    {{/block}}
    {{#block "topjs"}}
        {{sub "topjs"}}
    {{/block}}
</head>
<body>
{{#block "navWrap"}}
    <div class="navbar navbar-fixed-top header">
        <div class="grid-container">
            {{#block "nav"}}
                {{sub "nav"}}
            {{/block}}
        </div>
    </div>
{{/block}}
{{#block "bodyWrap"}}
    <div class="wrapper">
        <div class="wrapper-main">
            <div class="grid-container main-body">
                {{#block "body"}}
                    {{#block "breadcrumb"}}
                        {{sub "blocks/breadcrumb"}}
                    {{/block}}
                    {{#block "contentBefore"}}{{/block}}
                    {{#block "contentWrap"}}
                        <div class="grid-row">
                            <div class="main-content grid-lg-23 grid-md-17 grid-sm-11">
                                {{#block "content"}}{{/block}}
                            </div>
                            <div class="grid-sm-7">
                                {{#block "sidebar"}}
                                    {{sub "sidebar"}}
                                {{/block}}
                            </div>
                        </div>
                    {{/block}}
                    {{#block "contentAfter"}}{{/block}}
                {{/block}}
            </div>
        </div>
    </div>
{{/block}}
{{#block "footer"}}
    {{sub "footer"}}
{{/block}}
{{#block "js"}}{{/block}}
</body>
</html>