<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        {{~#if topic ~}}
            {{~ topic.title }} - {{ config.name ~}}
        {{~ else ~}}
            {{~ config.description ~}}
        {{~/if~}}
    </title>
    {{#block "css"}}
        <link rel="stylesheet" href="/assets/c/sib/theme/index.css">
        <link rel="stylesheet" href="/assets/c/css/normalize.css">
        <link rel="stylesheet" href="/assets/c/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/assets/c/css/base.css">
        <link rel="stylesheet" href="/assets/c/css/iconfont.css">
        <link rel="stylesheet" href="/assets/c/css/grid.css">
        <link rel="stylesheet" href="/assets/c/css/grid-x.css">
        <link rel="stylesheet" href="/assets/c/css/common.css">
        <link rel="stylesheet" href="/assets/p/index/index.css">
    {{/block}}
    {{#block "topjs"}}
        {{sub "topjs"}}
    {{/block}}
</head>
<body>
{{#block "nav"}}
    {{sub "nav"}}
{{/block}}
{{#block "bodyWrap"}}
    <div class="grid-container main-body">
        {{#block "body"}}
            {{#block "breadcrumb"}}
                {{sub "blocks/breadcrumb"}}
            {{/block}}
            {{#block "contentWrap"}}
                <div class="grid-row">
                    <div class="main-content grid-lg-24 grid-md-18 grid-sm-12">
                        {{#block "content"}}{{/block}}
                    </div>
                    <div class="grid-sm-6">
                        {{#block "sidebar"}}
                            {{sub "sidebar"}}
                        {{/block}}
                    </div>
                </div>
            {{/block}}
        {{/block}}
    </div>
{{/block}}
{{#block "footer"}}
    <div id='footer' style="background:#fff;">
        <div class="grid-container">
            <div id='footer_main'>
                <div class="links">
                    <a class='dark' href='/about'>关于</a>
                    |
                    <a class='dark' href='/faq'>FAQ</a>
                </div>
            </div>
        </div>
    </div>
{{/block}}
{{#block "js"}}{{/block}}
</body>
</html>