<div class="navbar-header">
    <a class="navbar-brand" href="/">
        <img src="/assets/images/logo.jpg" height="70">
    </a>
    <a class="navbar-toggle collapsed" href="javascript:void(0);" 
        data-toggle="collapse" data-target="#J_topMainNav">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>
</div>
<div id="J_topMainNav" class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right btns-wrap">
        {{#if _s.user}}
            <li id="J_topUserBtn">
                <div class="top-user-wrap">
                    <a class="user-avatar" href="/user/{{_s.user.id}}">
                        <img src="{{#if _s.user.avatar ~}}
                                    {{_s.user.avatar}}
                                  {{~ else ~}}
                                    /assets/images/head.gif
                                  {{~/if}}" title="">
                    </a>
                    {{!--<a href="/home/msg" class="msg pull-right">
                        <span class="glyphicon glyphicon-envelope"></span>
                    </a>--}}
                    <a href="/user/{{_s.user.id}}" class="user-name">{{ _s.user.nickname }}
                        <span class="caret"></span>
                    </a>
                </div>
                <div class="user-detail" id="J_userDetail"  style="display:none;">
                    <div class="arrow">
                        <b></b>
                        <em></em>
                    </div>
                    <div class="user-detail-con">
                        <ul class="uinfo-horizontal">
                            <li>
                                <!-- <a href="#">业主
                                    <img src="http://bbs.xiaomi.cn/static/image/xiaomibbs3/uvip_auth.png" class="vm" alt="论坛认证用户" title="论坛认证用户">
                                </a> -->
                                <a href="#">尚未认证，认证申请</a>
                            </li>
                            {{!--<li>
                                <span class="info-label">积分：</span>
                                <a href="/home/score">100</a>
                            </li>--}}
                        </ul>
                        <ul class="navlist clearfix" id="navlist">
                            <li>
                                <a href="/user/{{_s.user.id}}/topic">
                                    <span class="glyphicon glyphicon-list-alt"></span>
                                    <span>我的帖子</span>
                                </a>
                            </li>
                            <li>
                                <a href="/user/{{_s.user.id}}/friends">
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span>好友</span>
                                </a>
                            </li>
                            <li><a href="#">
                                    <span class="glyphicon glyphicon-retweet"></span>
                                    <span>关注</span>
                                </a>
                                
                            </li>
                            <li>
                                <a href="/home/info">
                                    <span class="glyphicon glyphicon-cog"></span>
                                    <span>管理中心</span>
                                </a>
                            </li>
                            <li>
                                <a href="/logout">
                                    <span class="glyphicon glyphicon-off"></span> 退出
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <script type="text/javascript">
                require(['jquery', 'sib.popup'], function($, Popup) {

                    new Popup({
                        target : '#J_userDetail',
                        trigger : '#J_topUserBtn',
                        position : {
                            at : 'right bottom+1',
                            my : 'right top'
                        }
                    });
                });
                </script>
            </li>
        {{else}}
            <li><a href='/reg'>注册</a></li>
            <li><span class="separator">/</span></li>
            <li><a href='/login' id="J_loginBtn">登录</a></li>
        {{/if}}
    </ul>
    <ul class="nav navbar-nav">
        <li><a href="/" class="{{#eq _page_gnavCode 'index'}}current{{/eq}}">首页</a></li>
        <li><a href="/hy" class="{{#eq _page_gnavCode 'hy'}}current{{/eq}}">生活信息</a></li>
        <li><a href="/forum/" class="{{#eq _page_gnavCode 'forum'}}current{{/eq}}">论坛</a></li>
        <li><a href="/block" class="{{#eq _page_gnavCode 'block'}}current{{/eq}}">版块</a></li>
    </ul>
</div>
<script type="text/javascript">
require(['jquery', 'sib.popup'], function($, Popup) {
    $(document).on('click', '[data-toggle=collapse]', function() {
        var target = $(this).attr('data-target');
        var $target = $(target);
        $target.toggle();
    });
});
</script>