<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>威尼斯水城社区</title>
    <!--<link rel="stylesheet" href="../../components/css/normalize.css">-->
    <link rel="stylesheet" href="../../c/css/normalize.css">
    <link rel="stylesheet" href="../../c/css/base.css">
    <link rel="stylesheet" href="../../c/css/common.css">
    <link rel="stylesheet" href="../../../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../c/css/grid.css">
    <link rel="stylesheet" href="../../c/css/grid-x.css">
    <link rel="stylesheet" href="../index/index.css">
    <link rel="stylesheet" href="../forum/index.css">
    <link rel="stylesheet" href="index.css">
</head>

<body class="upage-base" style="background-color: #1f160e;">
    <div class="upage-bgimg">
        <div class="upage-main">
            <div class="upage-uinfo">
                <div class="upage-cover">
                    <div class="headpic">
                        <a href="#" title="八千里路阳光">
                            <img class="W_face_radius" src="http://tp4.sinaimg.cn/1183470035/180/0/1">
                        </a>
                    </div>
                </div>
                <div class="upage-uinfo-bg"></div>
                <!-- <div class="upage-uinfo-bg-2"></div> -->
                <div class="uinfo-inner">
                    <div class="name-box">
                        <span class="name" title="八千里路阳光">八千里路阳光</span>
                    </div>
                    <div class="upage-intro">
                        <span class="tlink">梦想还是要有的，万一实现了呢！</span>
                    </div>
                    <div class="upage-opt">
                        <button class="btn btn-success btn-sm">
                            <span class="glyphicon glyphicon-plus"></span> 加好友
                        </button> 
                        <button class="btn btn-success btn-sm">
                            <span class="glyphicon glyphicon-plus"></span> 关注
                        </button> 
                        <button class="btn btn-success btn-sm">
                            <span class="glyphicon glyphicon-envelope"></span> 发消息
                        </button> 
                    </div>
                </div>

                <div class="upage-hnav">
                    <a href="javascript:void;" class="current">
                        <span>个人信息</span>
                        <span class="act-border"></span>
                    </a>
                    <a class="seperator" href="javascript:void(0);"></a>
                    <a href="#" target="_blank">
                        <span>主题</span>
                        <span class="act-border"></span>
                    </a>
                    <a class="seperator" href="javascript:void(0);"></a> 
                    <a rel="nofollow" href="#">
                        <span>帖子</span>
                        <span class="act-border"></span>
                    </a>
                    <a class="seperator" href="javascript:void(0);"></a> 
                    <a rel="nofollow" href="#">
                        <span>好友</span>
                        <span class="act-border"></span>
                    </a>
                </div>
            </div>
            <div class="grid-container">
                <div class="grid-row">
                    <div class="grid-lg-offset-3 grid-md-24 grid-sm-18">
                        <div class="grid-row">
                            <div class="grid-md-8 grid-sm-9">
                                <div class="panel card-mini">
                                    <a class="avatar" href="#">
                                        <img src="https://avatars.githubusercontent.com/u/1147375?v=2">
                                    </a>
                                    <div class="card-wrapper">
                                        <h2 class="title">
                                            <a href="#">八千里路</a>
                                        </h2>
                                        <div class="info">
                                            <em>
                                                <span class="info-label">主题：</span>
                                                <span class="info-value">20</span>
                                            </em>
                                            <em>
                                                <span class="info-label">跟帖：</span>
                                                <span class="info-value">20</span>
                                            </em>
                                        </div>
                                        <div class="info">
                                            <button class="btn btn-success btn-xs">
                                                <span class="glyphicon glyphicon-plus"></span> 加好友
                                            </button>
                                            <button class="btn btn-success btn-xs">
                                                <span class="glyphicon glyphicon-plus"></span> 关注
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-md-8 grid-sm-9">
                                <div class="panel card-mini">
                                    <a class="avatar" href="#">
                                        <img src="https://avatars.githubusercontent.com/u/1147375?v=2">
                                    </a>
                                    <div class="card-wrapper">
                                        <h2 class="title">
                                            <a href="#">八千里路</a>
                                        </h2>
                                        <div class="info">
                                            <em>
                                                <span class="info-label">主题：</span>
                                                <span class="info-value">20</span>
                                            </em>
                                            <em>
                                                <span class="info-label">跟帖：</span>
                                                <span class="info-value">20</span>
                                            </em>
                                        </div>
                                        <div class="info">
                                            <button class="btn btn-success btn-xs">
                                                <span class="glyphicon glyphicon-plus"></span> 加好友
                                            </button>
                                            <button class="btn btn-success btn-xs">
                                                <span class="glyphicon glyphicon-plus"></span> 关注
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-md-8 grid-sm-9">
                                <div class="panel card-mini">
                                    <a class="avatar" href="#">
                                        <img src="https://avatars.githubusercontent.com/u/1147375?v=2">
                                    </a>
                                    <div class="card-wrapper">
                                        <h2 class="title">
                                            <a href="#">八千里路</a>
                                        </h2>
                                        <div class="info">
                                            <em>
                                                <span class="info-label">主题：</span>
                                                <span class="info-value">20</span>
                                            </em>
                                            <em>
                                                <span class="info-label">跟帖：</span>
                                                <span class="info-value">20</span>
                                            </em>
                                        </div>
                                        <div class="info">
                                            <button class="btn btn-success btn-xs">
                                                <span class="glyphicon glyphicon-plus"></span> 加好友
                                            </button>
                                            <button class="btn btn-success btn-xs">
                                                <span class="glyphicon glyphicon-plus"></span> 关注
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-md-8 grid-sm-9">
                                <div class="panel card-mini">
                                    <a class="avatar" href="#">
                                        <img src="https://avatars.githubusercontent.com/u/1147375?v=2">
                                    </a>
                                    <div class="card-wrapper">
                                        <h2 class="title">
                                            <a href="#">八千里路</a>
                                        </h2>
                                        <div class="info">
                                            <em>
                                                <span class="info-label">主题：</span>
                                                <span class="info-value">20</span>
                                            </em>
                                            <em>
                                                <span class="info-label">跟帖：</span>
                                                <span class="info-value">20</span>
                                            </em>
                                        </div>
                                        <div class="info">
                                            <button class="btn btn-success btn-xs">
                                                <span class="glyphicon glyphicon-plus"></span> 加好友
                                            </button>
                                            <button class="btn btn-success btn-xs">
                                                <span class="glyphicon glyphicon-plus"></span> 关注
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-md-8 grid-sm-9">
                                <div class="panel card-mini">
                                    <a class="avatar" href="#">
                                        <img src="https://avatars.githubusercontent.com/u/1147375?v=2">
                                    </a>
                                    <div class="card-wrapper">
                                        <h2 class="title">
                                            <a href="#">八千里路</a>
                                        </h2>
                                        <div class="info">
                                            <em>
                                                <span class="info-label">主题：</span>
                                                <span class="info-value">20</span>
                                            </em>
                                            <em>
                                                <span class="info-label">跟帖：</span>
                                                <span class="info-value">20</span>
                                            </em>
                                        </div>
                                        <div class="info">
                                            <button class="btn btn-success btn-xs">
                                                <span class="glyphicon glyphicon-plus"></span> 加好友
                                            </button>
                                            <button class="btn btn-success btn-xs">
                                                <span class="glyphicon glyphicon-plus"></span> 关注
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-md-8 grid-sm-9">
                                <div class="panel card-mini">
                                    <a class="avatar" href="#">
                                        <img src="https://avatars.githubusercontent.com/u/1147375?v=2">
                                    </a>
                                    <div class="card-wrapper">
                                        <h2 class="title">
                                            <a href="#">八千里路</a>
                                        </h2>
                                        <div class="info">
                                            <em>
                                                <span class="info-label">主题：</span>
                                                <span class="info-value">20</span>
                                            </em>
                                            <em>
                                                <span class="info-label">跟帖：</span>
                                                <span class="info-value">20</span>
                                            </em>
                                        </div>
                                        <div class="info">
                                            <button class="btn btn-success btn-xs">
                                                <span class="glyphicon glyphicon-plus"></span> 加好友
                                            </button>
                                            <button class="btn btn-success btn-xs">
                                                <span class="glyphicon glyphicon-plus"></span> 关注
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="grid-sm-5">

                    </div>
                    <div class="grid-lg-24 grid-md-18 grid-sm-12">
                        <div class="panel">
                            
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</body>

</html>
