{{#extend "user/index" _page_navCode="friends"}}
    {{#replace "content"}}
        <div class="grid-row">
            <div class="grid-md-8 grid-sm-9">
                <div class="panel card-mini">
                    <a class="avatar" href="#">
                        <img src="https://avatars.githubusercontent.com/u/1147375?v=2">
                    </a>
                    <div class="card-wrapper">
                        <h2 class="title">
                            <a href="#">八千里路</a>
                        </h2>
                        <div class="info">
                            <em>
                                <span class="info-label">主题：</span>
                                <span class="info-value">20</span>
                            </em>
                            <em>
                                <span class="info-label">跟帖：</span>
                                <span class="info-value">20</span>
                            </em>
                        </div>
                        <div class="info">
                            <button class="btn btn-success btn-xs">
                                <span class="glyphicon glyphicon-plus"></span> 加好友
                            </button>
                            <button class="btn btn-success btn-xs">
                                <span class="glyphicon glyphicon-plus"></span> 关注
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-md-8 grid-sm-9">
                <div class="panel card-mini">
                    <a class="avatar" href="#">
                        <img src="https://avatars.githubusercontent.com/u/1147375?v=2">
                    </a>
                    <div class="card-wrapper">
                        <h2 class="title">
                            <a href="#">八千里路</a>
                        </h2>
                        <div class="info">
                            <em>
                                <span class="info-label">主题：</span>
                                <span class="info-value">20</span>
                            </em>
                            <em>
                                <span class="info-label">跟帖：</span>
                                <span class="info-value">20</span>
                            </em>
                        </div>
                        <div class="info">
                            <button class="btn btn-success btn-xs">
                                <span class="glyphicon glyphicon-plus"></span> 加好友
                            </button>
                            <button class="btn btn-success btn-xs">
                                <span class="glyphicon glyphicon-plus"></span> 关注
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-md-8 grid-sm-9">
                <div class="panel card-mini">
                    <a class="avatar" href="#">
                        <img src="https://avatars.githubusercontent.com/u/1147375?v=2">
                    </a>
                    <div class="card-wrapper">
                        <h2 class="title">
                            <a href="#">八千里路</a>
                        </h2>
                        <div class="info">
                            <em>
                                <span class="info-label">主题：</span>
                                <span class="info-value">20</span>
                            </em>
                            <em>
                                <span class="info-label">跟帖：</span>
                                <span class="info-value">20</span>
                            </em>
                        </div>
                        <div class="info">
                            <button class="btn btn-success btn-xs">
                                <span class="glyphicon glyphicon-plus"></span> 加好友
                            </button>
                            <button class="btn btn-success btn-xs">
                                <span class="glyphicon glyphicon-plus"></span> 关注
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-md-8 grid-sm-9">
                <div class="panel card-mini">
                    <a class="avatar" href="#">
                        <img src="https://avatars.githubusercontent.com/u/1147375?v=2">
                    </a>
                    <div class="card-wrapper">
                        <h2 class="title">
                            <a href="#">八千里路</a>
                        </h2>
                        <div class="info">
                            <em>
                                <span class="info-label">主题：</span>
                                <span class="info-value">20</span>
                            </em>
                            <em>
                                <span class="info-label">跟帖：</span>
                                <span class="info-value">20</span>
                            </em>
                        </div>
                        <div class="info">
                            <button class="btn btn-success btn-xs">
                                <span class="glyphicon glyphicon-plus"></span> 加好友
                            </button>
                            <button class="btn btn-success btn-xs">
                                <span class="glyphicon glyphicon-plus"></span> 关注
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-md-8 grid-sm-9">
                <div class="panel card-mini">
                    <a class="avatar" href="#">
                        <img src="https://avatars.githubusercontent.com/u/1147375?v=2">
                    </a>
                    <div class="card-wrapper">
                        <h2 class="title">
                            <a href="#">八千里路</a>
                        </h2>
                        <div class="info">
                            <em>
                                <span class="info-label">主题：</span>
                                <span class="info-value">20</span>
                            </em>
                            <em>
                                <span class="info-label">跟帖：</span>
                                <span class="info-value">20</span>
                            </em>
                        </div>
                        <div class="info">
                            <button class="btn btn-success btn-xs">
                                <span class="glyphicon glyphicon-plus"></span> 加好友
                            </button>
                            <button class="btn btn-success btn-xs">
                                <span class="glyphicon glyphicon-plus"></span> 关注
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-md-8 grid-sm-9">
                <div class="panel card-mini">
                    <a class="avatar" href="#">
                        <img src="https://avatars.githubusercontent.com/u/1147375?v=2">
                    </a>
                    <div class="card-wrapper">
                        <h2 class="title">
                            <a href="#">八千里路</a>
                        </h2>
                        <div class="info">
                            <em>
                                <span class="info-label">主题：</span>
                                <span class="info-value">20</span>
                            </em>
                            <em>
                                <span class="info-label">跟帖：</span>
                                <span class="info-value">20</span>
                            </em>
                        </div>
                        <div class="info">
                            <button class="btn btn-success btn-xs">
                                <span class="glyphicon glyphicon-plus"></span> 加好友
                            </button>
                            <button class="btn btn-success btn-xs">
                                <span class="glyphicon glyphicon-plus"></span> 关注
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/replace}}
{{/extend}}