{{#extend "user/ulayout" 
            bodyClass="upage-base" 
            bodyStyle="background-color: #1f160e;"
            _page_navCode="info" }}
    {{#replace "body"}}
        <div class="upage-uinfo upage-bgimg">
            <div class="grid-container">
                <div class="grid-row">
                    <div class="grid-sm-4 grid-lg-offset-3">
                        <div class="upage-cover">
                            <div class="headpic">
                                <a href="/user/{{user.id}}" title="{{user.nickname}}">
                                    <img src="{{#if user.avatar ~}}
                                                {{user.avatar}}
                                              {{~ else ~}}
                                                /assets/images/head.gif
                                              {{~/if}}">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="grid-md-16 grid-sm-10">
                        <div class="uinfo-inner">
                            <div class="name-box">
                                <span class="name" title="{{user.nickname}}">{{user.nickname}}</span>
                            </div>
                            <div class="upage-intro">
                                <span class="tlink">{{user.user_profile.signature}}&nbsp;</span>
                            </div>
                            <div class="upage-opt">
                                {{#eq user.id _s.user.id}}
                                    <a href="/home/info" class="btn btn-success btn-sm">
                                        <span class="glyphicon glyphicon-cog"></span> 管理中心
                                    </a>
                                {{else}}
                                    <button class="btn btn-success btn-sm" 
                                            onclick="LBL.addFriend({{user.id}});" >
                                        <span class="glyphicon glyphicon-plus"></span> 加好友
                                    </button>
                                    <button class="btn btn-success btn-sm"
                                            onclick="LBL.follow({{user.id}});">
                                        <span class="glyphicon glyphicon-plus"></span> 关注
                                    </button> 
                                    <button class="btn btn-success btn-sm">
                                        <span class="glyphicon glyphicon-envelope"></span> 发消息
                                    </button> 
                                {{/eq}}
                            </div>
                        </div>
                    </div>
                    <div class="grid-sm-4">
                        <div class="x-grid-row topic-fast-group">
                            <div class="x-grid-1-3">
                                <a class="topic-fast-btn" href="/user/{{user.id}}/topic">
                                    <b>
                                        {{#if user.user_count.topics}}
                                            {{user.user_count.topics}}
                                        {{else}}0{{/if}}
                                    </b>
                                    <p>主题</p>
                                </a>
                            </div>
                            <div class="x-grid-1-3">
                                <a class="topic-fast-btn" href="/user/{{user.id}}/posts">
                                    <b>
                                    {{#if user.user_count.replys}}
                                        {{user.user_count.replys}}
                                    {{else}}0{{/if}}
                                    </b>
                                    <p>帖子</p>
                                </a>
                            </div>
                            <div class="x-grid-1-3">
                                <a class="topic-fast-btn last" href="/user/{{user.id}}/friends">
                                    <b>
                                        {{#if user.user_count.friends}}
                                            {{user.user_count.friends}}
                                        {{else}}0{{/if}}
                                    </b>
                                    <p>好友</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="upage-hnav">
                <div class="upage-uinfo-bg"></div>
                <div class="upage-hnav-in">
                    {{#eq user.id _s.user.id}}
                        <a {{#eq _page_navCode 'follow'}}
                                href="javascript:void(0);" class="current"
                            {{else}}
                                href="/user/{{user.id}}/follow" 
                            {{/eq}}>
                            <span>我的关注</span>
                            <span class="act-border"></span>
                        </a>
                    {{else}}
                        <a  {{#eq _page_navCode 'info'}}
                                href="javascript:void(0);" class="current"
                            {{else}}
                                href="/user/{{user.id}}" 
                            {{/eq}}>
                            <span>个人信息</span>
                            <span class="act-border"></span>
                        </a>
                    {{/eq}}
                    <a class="seperator" href="javascript:void(0);"></a>
                    <a  {{#eq _page_navCode 'topic'}}
                            href="javascript:void(0);" class="current"
                        {{else}}
                            href="/user/{{user.id}}/topic" 
                        {{/eq}}>
                        <span>主题</span>
                        <span class="act-border"></span>
                    </a>
                    <a class="seperator" href="javascript:void(0);"></a> 
                    <a  {{#eq _page_navCode 'posts'}}
                            href="javascript:void(0);" class="current"
                        {{else}}
                            href="/user/{{user.id}}/posts" 
                        {{/eq}}>
                        <span>帖子</span>
                        <span class="act-border"></span>
                    </a>
                    <a class="seperator" href="javascript:void(0);"></a> 
                    <a {{#eq _page_navCode 'friends'}}
                            href="javascript:void(0);" class="current"
                        {{else}}
                            href="/user/{{user.id}}/friends" 
                        {{/eq}}>
                        <span>好友</span>
                        <span class="act-border"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="grid-container">
            <div class="grid-row">
                <div class="grid-lg-24 grid-lg-offset-3 grid-md-24 grid-sm-18">
                    {{#block "content"}}
                        <div class="panel upage-info-list">
                            <div class="panel-body">
                                <div class="x-grid-row">
                                    <div class="x-grid-1-2">
                                        <dl class="dl-horizontal">
                                            <dt>名称：</dt>
                                            <dd>{{user.nickname}}</dd>
                                            <dt>城市：</dt>
                                            <dd>{{user.user_profile.residecity}}</dd>
                                        </dl>
                                    </div>
                                    <div class="x-grid-1-2">
                                        <dl class="dl-horizontal">
                                            <dt>性别：</dt>
                                            <dd>
                                                {{#eq user.user_profile.gender 1}}男{{/eq}}
                                                {{#eq user.user_profile.gender 2}}女{{/eq}}
                                                {{#eq user.user_profile.gender 0}}保密{{/eq}}
                                            </dd>
                                            <dt>注册时间：</dt>
                                            <dd>
                                                {{moment user.create_time format='YYYY-MM-DD'}}
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/block}}
                </div>
            </div>
        </div>
    {{/replace}}
{{/extend}}