<div class="cell {{#calc @index '%2 == 0' }}odd{{/calc}}">
    <a class="user-avatar" href="/user/{{author_id }}" data-tip-title="{{forum_topic.user.nickname}}">
        <img src="{{#if forum_topic.user.avatar ~}}
                    {{forum_topic.user.avatar}}
                  {{~ else ~}}
                    /assets/images/head.gif
                  {{~/if}}" title="{{forum_topic.user.nickname }}" />
    </a>
    <div class="topic-title-wrapper">
        <h2 class="topic-title">
            <span class="tag">主题：</span>
            <a href="/topic/{{ forum_topic.id }}" title="{{ forum_topic.title }}">
                {{ forum_topic.title }}
            </a>
            <span class="tag">[
                <a href="/forum/{{forum_topic.forum.id}}">
                    {{forum_topic.forum.name}}
                </a>
            ]</span>
            {{#if top }}
                <span class="label label-default">置顶</span>
            {{/if}}
        </h2>
        <div class="info">
            <em>
                <span class="info-label">回复内容：</span>
                <span class="info-value">
                    {{string content 'stripTags'}}
                </span>
            </em>
        </div>
        <div class="info">
            <em>
                <span class="info-label">回复于： 
                    {{moment create_time format='YYYY-MM-DD hh:mm:ss'}}</span>
            </em>
        </div>
    </div>
</div>