<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>威尼斯水城社区</title>
    <!--<link rel="stylesheet" href="../../components/css/normalize.css">-->
    <link rel="stylesheet" href="../../c/css/normalize.css">
    <link rel="stylesheet" href="../../c/css/base.css">
    <link rel="stylesheet" href="../../c/css/common.css">
    <link rel="stylesheet" href="../../../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../c/css/grid.css">
    <link rel="stylesheet" href="../../c/css/grid-x.css">
    <link rel="stylesheet" href="../index/index.css">
    <link rel="stylesheet" href="../forum/index.css">
    <link rel="stylesheet" href="index.css">
</head>

<body class="upage-base" style="background-color: #1f160e;">
    <div class="upage-bgimg">
        <div class="upage-main">
            <div class="upage-uinfo">
                <div class="upage-cover">
                    <div class="headpic">
                        <a href="#" title="八千里路阳光">
                            <img class="W_face_radius" src="http://tp4.sinaimg.cn/1183470035/180/0/1">
                        </a>
                    </div>
                </div>
                <div class="upage-uinfo-bg"></div>
                <!-- <div class="upage-uinfo-bg-2"></div> -->
                <div class="uinfo-inner">
                    <div class="name-box">
                        <span class="name" title="八千里路阳光">八千里路阳光</span>
                    </div>
                    <div class="upage-intro">
                        <span class="tlink">梦想还是要有的，万一实现了呢！</span>
                    </div>
                    <div class="upage-opt">
                        <button class="btn btn-success btn-sm">
                            <span class="glyphicon glyphicon-plus"></span> 加好友
                        </button> 
                        <button class="btn btn-success btn-sm">
                            <span class="glyphicon glyphicon-plus"></span> 关注
                        </button> 
                        <button class="btn btn-success btn-sm">
                            <span class="glyphicon glyphicon-envelope"></span> 发消息
                        </button> 
                    </div>
                </div>

                <div class="upage-hnav">
                    <a href="javascript:void;" class="current">
                        <span>个人信息</span>
                        <span class="act-border"></span>
                    </a>
                    <a class="seperator" href="javascript:void(0);"></a>
                    <a href="#" target="_blank">
                        <span>主题</span>
                        <span class="act-border"></span>
                    </a>
                    <a class="seperator" href="javascript:void(0);"></a> 
                    <a rel="nofollow" href="#">
                        <span>帖子</span>
                        <span class="act-border"></span>
                    </a>
                    <a class="seperator" href="javascript:void(0);"></a> 
                    <a rel="nofollow" href="#">
                        <span>好友</span>
                        <span class="act-border"></span>
                    </a>
                </div>
            </div>
            <div class="grid-container">
                <div class="grid-row">
                    <div class="grid-lg-24 grid-lg-offset-3 grid-md-24 grid-sm-18">
                        <div class="panel panel-type-nav">
                            <div id="topic_list" class="list-group topic-list">
                                <div class="cell odd">
                                    <a class="user-avatar" href="#">
                                        <img src="https://avatars.githubusercontent.com/u/1147375?v=2" title="alsotang">
                                    </a>
                                    <div class="topic-title-wrapper">
                                        <h2 class="topic-title">
                                            <a href="#">等下准备升级 CNode 的密码系统，有各种悲剧的可能</a>
                                            [<a href="#" class="tag">通知&活动</a>]
                                            <span class="label label-default">置顶</span>
                                        </h2>
                                        <div class="info">
                                            <em>
                                                <span class="info-label">跟帖：</span>
                                                <span class="info-value">20</span>
                                            </em>
                                            <em>
                                                <span class="info-label">浏览：</span>
                                                <span class="value">120</span>
                                            </em>
                                            <em>
                                                <a href="#" class="info-value">张三</a>
                                                <a href="#" target="_blank">
                                                    <img src="http://bbs.xiaomi.cn/static/image/xiaomibbs3/uvip_auth.png" class="vm" alt="论坛认证用户" title="论坛认证用户">
                                                </a>
                                                <span class="info-label">发表于 2014-10-1</span>
                                            </em>
                                            <em>
                                                <span class="info-label">最后由</span>
                                                <a href="#" class="info-value">李四</a>
                                                <span class="info-label">回复于8&nbsp;分钟前</span>
                                            </em>
                                        </div>
                                    </div>
                                </div>
                                <div class="cell">
                                    <a class="user-avatar" href="#">
                                        <img src="https://avatars.githubusercontent.com/u/1147375?v=2" title="alsotang">
                                    </a>
                                    <div class="topic-title-wrapper">
                                        <h2 class="topic-title">
                                            <a href="#">等下准备升级 CNode 的密码系统，有各种悲剧的可能</a>
                                            [<a href="#" class="tag">通知&活动</a>]
                                            <span class="label label-default">置顶</span>
                                        </h2>
                                        <div class="info">
                                            <em>
                                                <span class="info-label">跟帖：</span>
                                                <span class="info-value">20</span>
                                            </em>
                                            <em>
                                                <span class="info-label">浏览：</span>
                                                <span class="value">120</span>
                                            </em>
                                            <em>
                                                <a href="#" class="info-value">张三</a>
                                                <a href="#" target="_blank">
                                                    <img src="http://bbs.xiaomi.cn/static/image/xiaomibbs3/uvip_auth.png" class="vm" alt="论坛认证用户" title="论坛认证用户">
                                                </a>
                                                <span class="info-label">发表于 2014-10-1</span>
                                            </em>
                                            <em>
                                                <span class="info-label">最后由</span>
                                                <a href="#" class="info-value">李四</a>
                                                <span class="info-label">回复于8&nbsp;分钟前</span>
                                            </em>
                                        </div>
                                    </div>
                                </div>
                                <div class="cell odd">
                                    <a class="user-avatar" href="#">
                                        <img src="https://avatars.githubusercontent.com/u/1147375?v=2" title="alsotang">
                                    </a>
                                    <div class="topic-title-wrapper">
                                        <h2 class="topic-title">
                                            <a href="#">等下准备升级 CNode 的密码系统，有各种悲剧的可能</a>
                                            [<a href="#" class="tag">通知&活动</a>]
                                            <span class="label label-default">置顶</span>
                                        </h2>
                                        <div class="info">
                                            <em>
                                                <span class="info-label">跟帖：</span>
                                                <span class="info-value">20</span>
                                            </em>
                                            <em>
                                                <span class="info-label">浏览：</span>
                                                <span class="value">120</span>
                                            </em>
                                            <em>
                                                <a href="#" class="info-value">张三</a>
                                                <a href="#" target="_blank">
                                                    <img src="http://bbs.xiaomi.cn/static/image/xiaomibbs3/uvip_auth.png" class="vm" alt="论坛认证用户" title="论坛认证用户">
                                                </a>
                                                <span class="info-label">发表于 2014-10-1</span>
                                            </em>
                                            <em>
                                                <span class="info-label">最后由</span>
                                                <a href="#" class="info-value">李四</a>
                                                <span class="info-label">回复于8&nbsp;分钟前</span>
                                            </em>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="pagination">
                                <li class="disabled"><a>«</a>
                                </li>
                                <li class="disabled"><a>1</a>
                                </li>
                                <li><a href="?2">2</a>
                                </li>
                                <li><a href="?3">3</a>
                                </li>
                                <li><a href="?4">4</a>
                                </li>
                                <li><a href="?5">5</a>
                                </li>
                                <li><a href="?6">6</a>
                                </li>
                                <li><a href="?7">7</a>
                                </li>
                                <li><a href="?8">8</a>
                                </li>
                                <li><a href="?9">9</a>
                                </li>
                                <li><a href="?10">10</a>
                                </li>
                                <li><a href="?100">»</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="grid-sm-5">

                    </div>
                    <div class="grid-lg-24 grid-md-18 grid-sm-12">
                        <div class="panel">
                            
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</body>

</html>
