{{#extend "user/index" _page_navCode="topic"}}
    {{#replace "content"}}
        <div class="panel">
            <div id="topic_list" class="list-group topic-list">
                <div class="cell odd">
                    <a class="user-avatar" href="#">
                        <img src="https://avatars.githubusercontent.com/u/1147375?v=2" title="alsotang">
                    </a>
                    <div class="topic-title-wrapper">
                        <h2 class="topic-title">
                            <a href="#">等下准备升级 CNode 的密码系统，有各种悲剧的可能</a>
                            [<a href="#" class="tag">通知&活动</a>]
                            <span class="label label-default">置顶</span>
                        </h2>
                        <div class="info">
                            <em>
                                <span class="info-label">跟帖：</span>
                                <span class="info-value">20</span>
                            </em>
                            <em>
                                <span class="info-label">浏览：</span>
                                <span class="value">120</span>
                            </em>
                            <em>
                                <a href="#" class="info-value">张三</a>
                                <a href="#" target="_blank">
                                    <img src="http://bbs.xiaomi.cn/static/image/xiaomibbs3/uvip_auth.png" class="vm" alt="论坛认证用户" title="论坛认证用户">
                                </a>
                                <span class="info-label">发表于 2014-10-1</span>
                            </em>
                            <em>
                                <span class="info-label">最后由</span>
                                <a href="#" class="info-value">李四</a>
                                <span class="info-label">回复于8&nbsp;分钟前</span>
                            </em>
                        </div>
                    </div>
                </div>
                <div class="cell">
                    <a class="user-avatar" href="#">
                        <img src="https://avatars.githubusercontent.com/u/1147375?v=2" title="alsotang">
                    </a>
                    <div class="topic-title-wrapper">
                        <h2 class="topic-title">
                            <a href="#">等下准备升级 CNode 的密码系统，有各种悲剧的可能</a>
                            [<a href="#" class="tag">通知&活动</a>]
                            <span class="label label-default">置顶</span>
                        </h2>
                        <div class="info">
                            <em>
                                <span class="info-label">跟帖：</span>
                                <span class="info-value">20</span>
                            </em>
                            <em>
                                <span class="info-label">浏览：</span>
                                <span class="value">120</span>
                            </em>
                            <em>
                                <a href="#" class="info-value">张三</a>
                                <a href="#" target="_blank">
                                    <img src="http://bbs.xiaomi.cn/static/image/xiaomibbs3/uvip_auth.png" class="vm" alt="论坛认证用户" title="论坛认证用户">
                                </a>
                                <span class="info-label">发表于 2014-10-1</span>
                            </em>
                            <em>
                                <span class="info-label">最后由</span>
                                <a href="#" class="info-value">李四</a>
                                <span class="info-label">回复于8&nbsp;分钟前</span>
                            </em>
                        </div>
                    </div>
                </div>
                <div class="cell odd">
                    <a class="user-avatar" href="#">
                        <img src="https://avatars.githubusercontent.com/u/1147375?v=2" title="alsotang">
                    </a>
                    <div class="topic-title-wrapper">
                        <h2 class="topic-title">
                            <a href="#">等下准备升级 CNode 的密码系统，有各种悲剧的可能</a>
                            [<a href="#" class="tag">通知&活动</a>]
                            <span class="label label-default">置顶</span>
                        </h2>
                        <div class="info">
                            <em>
                                <span class="info-label">跟帖：</span>
                                <span class="info-value">20</span>
                            </em>
                            <em>
                                <span class="info-label">浏览：</span>
                                <span class="value">120</span>
                            </em>
                            <em>
                                <a href="#" class="info-value">张三</a>
                                <a href="#" target="_blank">
                                    <img src="http://bbs.xiaomi.cn/static/image/xiaomibbs3/uvip_auth.png" class="vm" alt="论坛认证用户" title="论坛认证用户">
                                </a>
                                <span class="info-label">发表于 2014-10-1</span>
                            </em>
                            <em>
                                <span class="info-label">最后由</span>
                                <a href="#" class="info-value">李四</a>
                                <span class="info-label">回复于8&nbsp;分钟前</span>
                            </em>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="pagination">
                <li class="disabled"><a>«</a>
                </li>
                <li class="disabled"><a>1</a>
                </li>
                <li><a href="?2">2</a>
                </li>
                <li><a href="?3">3</a>
                </li>
                <li><a href="?4">4</a>
                </li>
                <li><a href="?5">5</a>
                </li>
                <li><a href="?6">6</a>
                </li>
                <li><a href="?7">7</a>
                </li>
                <li><a href="?8">8</a>
                </li>
                <li><a href="?9">9</a>
                </li>
                <li><a href="?10">10</a>
                </li>
                <li><a href="?100">»</a>
                </li>
            </ul>
        </div>
    {{/replace}}
{{/extend}}