<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>邻比邻管理中心 - {{ config.name ~}}</title>
    {{#block "css"}}
        {{sub "topcss"}}
        <link rel="stylesheet" href="/assets/p/forum/index.css">
        <link rel="stylesheet" href="/assets/p/user/index.css">
    {{/block}}
    {{#block "topjs"}}
        {{sub "topjs"}}
    {{/block}}
</head>
<body class="{{bodyClass}}" style="{{bodyStyle}}">
{{#block "navWrap"}}
    <div class="navbar navbar-fixed-top header">
        <div class="grid-container">
            <div class="grid-row">
                <div class="grid-lg-offset-3 grid-md-24 grid-sm-18" style="margin-bottom:0px">
                    {{#block "nav"}}
                        {{sub "nav"}}
                    {{/block}}
                </div>
            </div>
        </div>
    </div>
{{/block}}
{{#block "bodyWrap"}}
    <div class="wrapper">
        <div class="wrapper-main">
            {{#block "body"}}
                <div class="grid-container main-body">
                    {{#block "breadcrumb"}}
                        <div class="grid-row">
                            <div class="breadcrumb-wrap grid-lg-offset-3 grid-md-24 grid-sm-18"
                                 style="margin-bottom:0px">
                                <ol class="breadcrumb">
                                    <li><a href="/">首页</a></li>
                                    {{#block "breadcrumbFirst"}}
                                        <li><a href="/home/info">管理中心</a></li>
                                    {{/block}}
                                    {{#block "breadcrumbPath"}}
                                        {{#each forumPath}}
                                            <li><a href="/forum/{{id}}">{{name}}</a></li>
                                        {{/each}}
                                    {{/block}}
                                </ol>
                            </div>
                        </div>
                    {{/block}}
                    {{#block "contentWrap"}}
                        <div class="grid-row">
                            <div class="grid-lg-offset-3 grid-md-24 grid-sm-18">
                                <div class="panel mgr-panel">
                                    <div class="grid-row">
                                        <div class="grid-sm-4 mgr-cnt-wrap">
                                            <div class="mgr-leftnav">
                                                {{#block "leftNav"}}{{/block}}
                                            </div>
                                        </div>
                                        <div class="grid-sm-14 grid-md-20 mgr-cnt-wrap">
                                            <div class="mgr-cnt">
                                                <div class="mgr-cnt-wrap">
                                                    {{#block "content"}}{{/block}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/block}}
                </div>
            {{/block}}
        </div>
    </div>
{{/block}}
{{#block "footer"}}
    {{sub "footer"}}
{{/block}}
{{#block "js"}}
<script type="text/javascript">
require(['jquery', 'sib.sib', 'sib.pager', 'hbs', 'hbs-helper.calc', 'hbs-helper.moment'], 
    function($, Sib, Pager, Handlebars){

    Sib.subscribe('createPager', function(info){
        createPager(info);
    });
    function createPager(info){
        if(info.totalPages <= 1) {
            return ;
        }
        var tpl = Handlebars.compile($(info.tplId).text());
        new Pager({
            appendTo : info.pageId,
            totalPages: info.totalPages,  //总页数
            totalRecords : info.totalRecords,   //总记录数
            current: info.current || 1,
            loading: false,
            showPageNumber : 10,//每次显示页码数量
            threme : null,
            gotoLabel : '跳转',
            displayMsg: '共{total}条/{pages}页',
            selectPage: function(evt, opts){
                $.ajax({
                    url : info.url + '?page=' + opts.current,
                    success : function(data){
                        if(data.list) {
                            $(info.listId).html(tpl(data));
                        }
                    },
                    error : function(data){
                        Dialog.tip(data.responseText);
                    }
                });
            }
        });
    }
});
</script>
{{/block}}
</body>
</html>