{{#extend "layout" _page_gnavCode="index"}}
    {{#append "css"}}
        <link rel="stylesheet" href="/assets/p/forum/index.css">
    {{/append}}
    {{#replace "breadcrumb"}}{{/replace}}
    {{#replace "content"}}
        <div class="panel index-panel">
            {{#each topics}}
                <div class="article-list">
                    <div class="clearfix article-box">
                        <a href="/topic/{{id}}" class="a-img" target="_blank">
                            <img src="{{img}}">
                        </a>
                        <div class="article-box-ctt">
                            <h4>
                                <a href="/topic/{{id}}" target="_blank">
                                    {{~#if title}}
                                        {{title}}
                                    {{~ else ~}}
                                        {{forum_topic.title}}
                                    {{/if ~}}
                                </a>
                            </h4>
                            <div class="box-other">
                                <span class="source-quote">
                                    <a class="hx-card" href="/user/{{forum_topic.user.id}}" target="_blank">
                                        {{forum_topic.user.nickname}}
                                    </a>
                                </span>
                                <time>{{moment create_time format='YYYY-MM-DD hh:mm:ss'}}</time>
                            </div>
                            <div class="article-summary">
                                {{#if content}}
                                    {{{string (string content 'stripTags') 'truncate' 250}}}
                                {{else}}
                                    {{{string (string forum_topic.content 'stripTags') 'truncate' 250}}}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
            {{page totalPages=page.totalPages current=page.current}}
        </div>
    {{/replace}}
    {{#append "js"}}

    {{/append}}
{{/extend}}