{{#extend "layout"}}
    {{#replace "content"}}
        <div id="content">
            {{!--<span>分类：</span>
            {{#each forums}}
                {{#calc type '==0'}}
                    <span style="margin-right:10px">{{name}}</span>
                {{/calc}}
            {{/each}}

            <span>普通模块：</span>
            {{#each forums}}
                {{#calc type '==1'}}
                    <span style="margin-right:10px">{{name}}</span>
                {{/calc}}
            {{/each}}

            <span>子模块：</span>
            {{#each forums}}
                {{#calc type '==2'}}
                    <span style="margin-right:10px">{{name}}</span>
                {{/calc}}
            {{/each}}--}}
            <div id="J_form" class="panel">
                <div class="panel-heading">
                    增加模块
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" name="forumForm" method="post" action="/mgr/forum/create">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">类型</label>
                            <div class="col-sm-10">
                                <label class="radio-inline">
                                    <input type="radio" name="type" value="0" checked> 分类
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="type" value="1"> 普通模块
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="type" value="2"> 子模块
                                </label>
                            </div>
                        </div>
                        <div class="form-group" id="parentArea" style="display:none;">
                            <label for="J_parentId" class="col-sm-2 control-label">父分类</label>
                            <div class="col-sm-10">
                                <input type="text" name="parent_id" id="J_parentId" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="J_parentId" class="col-sm-2 control-label">名称</label>
                            <div class="col-sm-10">
                                <input type="text" name="name" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="J_parentId" class="col-sm-2 control-label">描述</label>
                            <div class="col-sm-10">
                                <input type="text" name="desc" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="J_ico" class="col-sm-2 control-label">图标</label>
                            <div class="col-sm-10">
                                <input type="text" name="pic" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {{/replace}}
    {{#append "js"}}
        <script type="text/javascript">
        var d = {{{json forums}}};
        require(['jquery', 'sib.combobox'], function($, ComboBox){
            $('#J_form input[name=type]').click(function(){
                var val = $(this).val();
                if(val == 0) {
                    cb.value(null);
                    cb.hide();
                    cb.option({
                        source : []
                    });
                    $('#parentArea').hide();
                } else {
                    cb.option({
                        source : $.grep(d, function(item, index){
                            return item.type == (val - 1);
                        })
                    });
                    $('#parentArea').show();
                }
            });

            var cb = new ComboBox({
                target : '#J_form input[name=parent_id]',
                source : [],
                labelName : 'name',
                valueName : 'id'
            });
        });
        </script>
    {{/append}}
{{/extend}}