{{#extend "layout"}}
    {{#append "css"}}
        <link rel="stylesheet" href="/assets/p/forum/index.css">
        <style type="text/css">
        .action{
            padding:0px 5px;
        }
        </style>
    {{/append}}
    {{#replace "breadcrumb"}}
        <div class="grid-row">
            <div>
                <ol class="breadcrumb">
                    <li><a href="#">首页</a>
                    </li>
                    <li><a href="#">儿童教育</a>
                    </li>
                </ol>
            </div>
        </div>
    {{/replace}}
    {{#replace "content"}}
        <a href="/mgr/forum/create" class="btn btn-lg btn-default">
            <span class="glyphicon glyphicon-plus"></span> 新增论坛版块
        </a>
        <table id="list"></table>
    {{/replace}}

    {{#append "js"}}
    <script type="text/javascript">
    require(['jquery', 'sib.datagrid', 'sib.dialog'], 
        function($, DataGrid, Dialog){
        var d = new DataGrid({
            target : '#list',
            method: 'get',
            url : '/mgr/forum/getdata',
            columns : [
                [{
                    title : 'ID',
                    field : 'id'
                }, {
                    title : 'Parent',
                    field : 'parent_id'
                }, {
                    title : '名称',
                    field : 'name'
                }, {
                    title : '类型',
                    field : 'type',
                    formatter : function(col, row, $td){
                        return col == 0 ? '分组' : (col == 1 ? '版块' : '主题分类');
                    }
                }, {
                    title : '描述',
                    field : 'desc'
                }, {
                    title : '操作',
                    field : 'hello',
                    formatter : function(col, row, $td){
                        var $a = $('<a href="javascript:void(0);" class="action">删除</a>');
                        $a.appendTo($td);
                        $a.click(function(e){
                            delForum(row.id, row.name);
                            e.stopPropagation();
                        });

                        if(row.type == 1) {
                            var $b = $('<a href="javascript:void(0);" class="action">版主管理</a>');
                            $b.appendTo($td);
                            $b.click(function(){
                                moderatorMgr(row.id);
                            });
                        }
                    }
                }]
            ]
        });

        function delForum(id, name){
            Dialog.confirm('确定删除版块' + name + '?', '温馨提示', function(){
                $.ajax({
                    url : '/mgr/forum/delete',
                    type : 'POST',
                    data : {
                        id : id
                    },
                    success : function(){
                        d.reload();
                        //Dialog.tip('删除成功!');
                    }
                });
            });
            
        };

        var mDialog;
        function moderatorMgr(id){
            if(!mDialog) {
                mDialog = new Dialog({
                    title : '分配版主',
                    content : '/mgr/forum/master?',
                    modal : true,
                    zIndex : 10000,
                    height : 500,
                    close : function(evt, data){
                        if(data && data.msg) {
                            Dialog.tip(data.msg);
                            d.reload();
                        }
                    }
                });
            }
            mDialog.option('content', '/mgr/forum/master?fid=' + id);
            mDialog.open();
        }
    });
    </script>
    {{/append}}
{{/extend}}