{{#extend "layout" _page_gnavCode="block"}}
    {{#append "css"}}
        <link rel="stylesheet" href="/assets/p/forum/index.css">
    {{/append}}
    {{#replace "breadcrumbPath"}}
        <li><a href="/block">论坛板块</a></li>
    {{/replace}}
    {{#replace "content"}}
        {{#each groups}}
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-title">{{name}}</div>
                </div>
                <div class="panel-body">
                    <ul class="fclassify-list clearfix">
                        {{#each children}}
                            <li class="clearfix">
                                <div class="fclassify-box">
                                    <div class="fclassify-pic">
                                        <a href="#" class="iconfont">{{{pic}}}</a>
                                    </div>
                                    <div class="fclassify-info">
                                        <div class="fclassify-title">
                                            <a href="/forum/{{id}}">{{name}}</a>
                                            <!-- <span class="fclassify-data">1</span> -->
                                        </div>
                                        <div class="fclassify-desc">{{desc}}</div>
                                        <div class="fclassify-nums">
                                            <span class="fclassify-s">主题：</span>{{topics}}
                                            <span class="pipe">|</span>
                                            <span class="fclassify-s">帖数：</span>
                                            <span title="{{posts}}">{{posts}}</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        {{/each}}
    {{/replace}}
{{/extend}}