{{#extend "layout"}}
    {{#append "css"}}
        <link rel="stylesheet" href="/public/p/forum/index.css">
    {{/append}}
    {{#replace "breadcrumbPath"}}
        <li><a href="/forum/{forum.id}">{{forum.name}}</a></li>
    {{/replace}}
    {{#replace "content"}}
        <div class="panel panel-type-nav">
            <div class="panel-heading">
                <ul class="nav nav-pills" role="tablist">
                    <li role="presentation" class="active"><a href="#">Home <span class="badge">42</span></a>
                    </li>
                    <li role="presentation"><a href="#">Profile</a>
                    </li>
                    <li role="presentation"><a href="#">Messages <span class="badge">3</span></a>
                    </li>
                </ul>
            </div>
            <div id="topic_list" class="list-group topic-list">
                {{#each topics}}
                    {{sub "forum/listItem" topic=this}}
                {{/each}}
            </div>
            {{page total=100 current=current_page showNum=10 baseUrl="/" varName="page"}}
        </div>
    {{/replace}}
{{/extend}}