{{#extend "layout" _page_gnavCode="forum"}}
    {{#append "css"}}
        <link rel="stylesheet" href="/assets/p/forum/index.css">
    {{/append}}
    {{#replace "breadcrumb"}}
        {{#ge forum.type 0}}
            {{#replace "breadcrumbPath"}}
                {{#if forum}}
                    {{#ge forum.type 0}}
                        <li><a href="/forum">论坛</a></li>
                        <li><a href="/forum/{{forum.id}}">{{forum.name}}</a></li>
                    {{/ge}}
                {{/if}}
            {{/replace}}

            {{sub "blocks/breadcrumb"}}
        {{/ge}}
    {{/replace}}
    {{#replace "contentBefore"}}
        {{#eq forum.type 1}}
            <div class="grid-row">
                <div class="main-content grid-lg-30 grid-md-24 grid-sm-18">
                    <div class="topic-card clearfix">
                        {{#if masters}}
                            <div class="moderator tc-label">版主: 
                                <span>
                                    {{#each masters}}
                                        {{#unless @first}},{{/unless}}
                                        <a href="/user/{{uid}}">{{user.nickname}}</a>
                                    {{/each}}
                                </span>
                            </div>
                        {{/if}}
                        <div class="card-logo iconfont">{{{forum.pic}}}</div>
                        <div class="card-name">
                            <a href="/forum/{{forum.id}}">
                                <h1>{{forum.name}}</h1>
                            </a>
                            <button type="button" onclick="LBL.collectForum({{forum.id}})"
                                    class="btn btn-xs tc-fav btn-gray">
                                <span class="glyphicon glyphicon-heart"></span> 收藏本版
                            </button>
                        </div>
                        <div class="tc-label">
                            <!-- <span>今日:<strong></strong></span>
                            <span class="pipe">|</span> -->
                            <span>主题:<strong>{{forum.topics}}</strong></span>
                            <span class="pipe">|</span>
                            <span>回复:<strong>{{forum.posts}}</strong></span>
                        </div>
                    </div>
                </div>
            </div>
        {{/eq}}
    {{/replace}}
    {{#replace "content"}}
        <!-- <div class="panel">
            <div class="panel-body">
                <span class="post-total">今日：{{forum.today_posts}}</span>
                <span class="post-total">昨日：{{forum.yestoday_posts}}</span>
                <span class="post-total">帖子：{{forum.posts}}</span>
            </div>
        </div> -->
        <div class="panel">
            <div id="topic_list" class="list-group topic-list">
                {{#eq forum.type -1}}
                    <div class="cell theader">
                        {{!--<span class="post-total">今日：{{forum.today_posts}}</span>
                        <span class="post-total">昨日：{{forum.yestoday_posts}}</span>--}}
                        <span class="post-total first">主题数：{{forum.topics}}</span>
                        <span class="pipe-min">|</span>
                        <span class="post-total">回复数：{{forum.posts}}</span>
                        <span class="pipe-min">|</span>
                        {{#if lastRegUser}}
                            <span class="post-total">欢迎新会员：{{lastRegUser.nickname}}</span>
                        {{/if}}
                    </div>
                {{/eq}}
                {{#eq forum.type 0}}
                    <ul class="nav nav-tabs tabs-1">
                        <li class="active"><a href="javascript:void(0);">最新</a></li>
                        <li><a href="javascript:void(0);">子版块</a></li>
                    </ul>
                {{/eq}}
                {{#eq forum.type 1}}
                    <div class="cell theader">
                        <span class="post-total first">
                            <a class="{{#unless _pathvar.ftype}}current{{/unless}}" href="/forum/{{../forum.id}}">全部</a>
                        </span>
                        {{#each ftypes}}
                            <span class="post-total">
                                <a href="/forum/{{../forum.id}}?ftype={{id}}"
                                   class="{{#eq ../_pathvar.ftype id}}current{{/eq}}">
                                   {{name}}({{topics}})</a>
                            </span>
                        {{/each}}
                    </div>
                {{/eq}}
                {{#each topics}}
                    {{sub "forum/listItem" topic=this curblock=../forum}}
                {{/each}}
            </div>
            {{page totalPages=page.totalPages current=page.current}}
        </div>
    {{/replace}}
{{/extend}}