{{#extend "layout"}}
    {{#append "css"}}
        <link rel="stylesheet" href="/assets/p/forum/index.css">
    {{/append}}
    {{#replace "content"}}
        <div class="panel panel-type-nav">
            <div class="panel-heading">
                <ul class="nav nav-pills">
                    <li>
                        <a href="javascript:;">今日：{{forum.today_posts}}</a>
                    </li>
                    <li>
                        <a href="#">昨日：{{forum.yestoday_posts}}</a>
                    </li>
                    <li>
                        <a href="#">帖子：{{forum.posts}}</a>
                    </li>
                </ul>
            </div>
            <div id="topic_list" class="list-group topic-list">
                {{#each topics}}
                    {{sub "forum/listItem" topic=this}}
                {{/each}}
            </div>
            {{page totalRecords=page.total current=page.current}}
        </div>
    {{/replace}}
{{/extend}}