<div class="cell {{#calc @index '%2 == 0' }}odd{{/calc}}">
    <a class="user-avatar" href="/user/{{author_id }}">
        <img src="{{user.head_pic}}" title="{{user.name }}" />
    </a>
    <div class="topic-title-wrapper">
        <h2 class="topic-title">
            <a href="/topic/{{ id }}" title="{{ title }}">{{ title }}</a>
            <span class="tag">[
            {{~#gt curblock.type 0}}
                <a href="/forum/{{forum.id}}?ftype={{forum_type.id}}">
                    {{forum_type.name}}
                </a>
            {{~ else ~}}
                <a href="/forum/{{forum.id}}">{{forum.name}}</a>
            {{/gt ~}}
            ]</span>
            {{#if top }}
                <span class="label label-default">置顶</span>
            {{/if}}
        </h2>
        <div class="info">
            <em>
                <span class="info-label">跟帖：</span>
                <span class="info-value">{{ reply_count }}</span>
            </em>
            <em>
                <span class="info-label">浏览：</span>
                <span class="info-value">{{ visit_count }}</span>
            </em>
            <em>
                <a href="/user/{{author_id}}" class="info-value">{{user.name}}</a>
                <a href="javascript:void(0);" target="_blank">
                    <img src="http://bbs.xiaomi.cn/static/image/xiaomibbs3/uvip_auth.png" class="vm" alt="论坛认证用户" title="论坛认证用户">
                </a>
                <span class="info-label">发表于 {{moment create_time format='YYYY-MM-DD'}}</span>
            </em>
            <em>
                {{#if reply_author}}
                    <span class="info-label">最后由</span>
                    <a href="/user/{{last_reply_user_id}}" class="info-value">{{reply_author.name}}</a>
                    <span class="info-label">回复于</span>
                    <span class="info-value">
                         {{moment last_reply_time format='YYYY-MM-DD'}}
                    </span>
                {{/if}}
            </em>
        </div>
    </div>
</div>