<div class="cell {{#calc @index '%2 == 0' }}odd{{/calc}} {{#eq highlight 1}}cell-hl{{/eq}}">
    <a class="user-avatar" href="/user/{{author_id }}" data-tip-title="{{user.nickname}}">
        <img src="{{#if user.avatar ~}}
                    {{user.avatar}}
                  {{~ else ~}}
                    /assets/images/head.gif
                  {{~/if}}" />
    </a>
    <div class="topic-title-wrapper">
        <h2 class="topic-title">
            <a href="/topic/{{ id }}" title="{{ title }}">{{{ title }}}</a>
            <span class="tag">
            {{~#gt curblock.type 0}}
                {{#if forum_type}}
                    [<a href="/forum/{{forum.id}}?ftype={{forum_type.id}}">{{forum_type.name}}</a>]
                {{/if}}
            {{~ else ~}}
                [<a href="/forum/{{forum.id}}">{{forum.name}}</a>]
            {{/gt ~}}
            </span>
            {{#and (eq curblock.type -1) (eq top_all 1)}}
                <!-- <span class="label label-default label-primary">置顶</span> -->
                <i class="iconfont tag-top" data-tip-title="顶置">&#xe67f;</i>
            {{/and}}
            {{#ne curblock.type -1}}
                {{#eq top_all 1}}
                    <!-- <span class="label label-default label-primary">置顶</span> -->
                    <i class="iconfont tag-top" data-tip-title="顶置">&#xe67f;</i>
                {{else}}
                    {{#eq top 1}}
                        <!-- <span class="label label-default label-info">置顶</span> -->
                        <i class="iconfont tag-top" data-tip-title="顶置">&#xe67f;</i>
                    {{/eq}}
                {{/eq}}
            {{/ne}}
            {{#eq digest 1}}
                <!-- <span class="label label-default label-primary">精华</span> -->
                <i class="iconfont tag-digest" data-tip-title="精品">&#xe667;</i>
            {{/eq}}
            {{#eq is_hot 1}}
                <!-- <span class="label label-default label-primary">热门</span> -->
                <i class="iconfont tag-hot" data-tip-title="热门">&#xe648;</i>
            {{/eq}}
        </h2>
        <div class="info">
            {{!--<!-- <em>
                <span class="info-label">跟帖：</span>
                <span class="info-value">{{ reply_count }}</span>
            </em>
            <em>
                <span class="info-label">浏览：</span>
                <span class="info-value">{{ visit_count }}</span>
            </em> -->--}}
            <em class="info-label">
                <span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;{{visit_count}}
            </em>
            <em class="info-label">
                <span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;{{reply_count}}
            </em>
            <em>
                <a href="/user/{{author_id}}" class="info-value">{{user.nickname}}</a>
                {{!--<a href="javascript:void(0);" target="_blank">
                    <img src="http://bbs.xiaomi.cn/static/image/xiaomibbs3/uvip_auth.png" class="vm" alt="论坛认证用户" title="论坛认证用户">
                </a>--}}
                <span class="info-label">发表于 {{moment create_time mix="" format='YYYY-MM-DD'}}</span>
            </em>
            <em>
                {{#if reply_author}}
                    <span class="info-label">最后由</span>
                    <a href="/user/{{last_reply_user_id}}" class="info-value">{{reply_author.nickname}}</a>
                    <span class="info-label">回复于 {{moment last_reply_time mix format='YYYY-MM-DD HH:mm:ss' }}</span>
                {{/if}}
            </em>
        </div>
    </div>
</div>