<div class="cell">
    <a class="user-avatar pull-left" href="/user/{{author.name }}">
        <img src="{{author.avatar_url}}" title="{{author.name }}" />
    </a>
    <div class="reply-count pull-right">
        <div class="visit-count" title="点击数">{{visit_count }}</div>
        <div class="replies-count" title="回复数">{{reply_count }}</div>
    </div>
    <div class="topic-title-wrapper">
        {{#if top }}
            <span class="label label-default">置顶</span>
        {{/if}}
        <a class="topic-title" href="/topic/{{ _id }}" title="{{ title }}">{{ title }}</a>
        <div class="info">
            <em>
                <a href="#" target="_blank">
                    <img src="http://bbs.xiaomi.cn/static/image/xiaomibbs3/uvip_auth.png" class="vm" alt="论坛认证用户" title="论坛认证用户">
                </a>
                <a href="#">{{author_nick}}</a>
            </em>
            <em>于
                <span>{{last_reply}}</span>发表在 [<a href="#">{{forum.name}}</a>]
            </em>
            {{#if reply }}
                <em>最后回复
                    <a href="/topic/{{ _id}}#{{reply._id }}">
                        <span title="{{ reply.friendly_create_at }}">8&nbsp;分钟前</span>
                    </a>
                </em>
            {{else}}
            {{/if}}
        </div>
    </div>
</div>