::selection{
    background:#eb7350;
    color:#fff;
}
/** 回复 begin **/
.revert-list{
    margin-top:10px;
    margin-bottom:30px;
}
.revert-hd{
    background: url(../../../images/np_dr_hd.png) no-repeat;
    height:63px;
    border-bottom:1px solid #dcdddd;
}
.revert-it{
    /* padding:10px; */
    padding-left:80px;
    position: relative;
    /* border: 1px solid #dcdddd; */
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
}
.revert-it .uinfo {
    width:60px;
    height: auto;
    text-align: center;
    font-size:12px;
    float:left;
    margin-left: -80px;
    padding: 0px;
    border:none;
}
.revert-it .uinfo img{
    width: 60px;
    height: 60px;
    border-radius: 40px;
    border: 1px solid #fff;
    box-shadow: 0px 0px 3px #aaa;
}
/* .revert-it .uinfo .head-icon{
    box-shadow: 0px 0px 10px #dedddd;
    display: block;
    margin:0px auto;
    border:1px solid #dcdddd;
    width:60px;
    height: 60px;
    padding:5px;
    font-size: 0px;
}
.revert-it .uinfo .head-icon img{
    width: 60px;
    height: 60px;
}
.revert-it .uinfo .u-name {
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.revert-it .uinfo .u-level{
    text-align: center;
    color: #9C9A9C;
} */
.revert-bd{
    overflow:visible;
    min-height:80px;
    font-size: 14px;
}
.revert-r{
    float:right;
}
.revert-it .revert-it{
    border:1px solid #dcdddd;
    border-top: none;
    padding-left: 90px;
    margin-bottom:0px;
}
.revert-it .revert-it .uinfo{
    margin-left: -90px;
    margin-top: 5px;
    margin-bottom: 5px;
    width:90px;
    border: none;
}
.revert-cnt-hd{
    position:relative;
    line-height:22px;
    height:24px;
}
.revert-cnt-hd .name{
    color: #333;
    font-weight: bold;
    line-height: 25px;
    font-size: 15px;
    margin-right: 15px;
}
.revert-cnt-hd .hd-time{
    color: #aaa;
    line-height: 20px;
    font-size: 12px;
}
.revert-it .revert-it .revert-bd{
    border:none;
    border-left: 1px solid #dcdddd;
}
.revert-form {
    text-align:right;
    margin-bottom:30px;
}
.revert-form textarea{
    width:600px;
    height: 200px;
    padding:5px;
}
.revert-form .d-btn{
    float: right;
    width:80px;
    padding:5px 20px;
    font-size:18px;
    font-weight: normal;
}
.revert-cnt{
    padding:10px 0px;
    overflow: hidden;
}
.revert-cnt img{
    max-width: 100%;
}
.revert-cnt dl {
    padding: 2px 0;
    padding-left: 62px;
    overflow: hidden;
    zoom: 1;
}
.revert-it .revert-cnt dt {
    float: left;
    width: 62px;
    margin-left: -62px;
    text-align: right;
    color: #9C9A9C;
}
.revert-it .revert-cnt dd {
    word-wrap: break-word;
}
.revert-it .revert-cnt .showimg-list{
    border-collapse: separate;
    border-spacing: 10px;
}
.revert-it .revert-cnt .showimg-list td{
    border: 1px solid #dcdddd;
    padding: 1px;
    margin: 2px;
}
.revert-it .revert-cnt .showimg-label{
    color:#9C9A9C;
    margin-right:5px;
}
.revert-it .revert-cnt .p-simsun{
    color: #08c;
}
.revert-it .revert-bd .btns{
    padding: 10px 0 5px;;
    /* visibility: hidden; */
}
/* .revert-it .revert-bd .btn{
    color: #999;
} */
.revert-it:hover .revert-bd .btns{
    visibility: visible;
}
.revert-it .reply-mate{
    line-height: 26px;
    margin:5px 0px;
}
.revert-it .revert-reply {
    padding-left: 60px;
}
.revert-it .revert-reply .uinfo{
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    width:60px;
    margin-left: -60px;
    padding-top:10px;
}
.revert-it .revert-reply .revert-bd {
    min-height: 30px;
}
.revert-it .revert-reply .rv-replyname{
    margin:0px 5px;
    font-weight: bold;
    color: #333;
}
.revert-it .reply-input{
    padding: 2px 5px;
    line-height: 18px;
    border: 1px solid #c1c1c1;
    width:750px;
    position: relative;
    top: 1px;
}
/** 回复 end **/
.side-hotforums{
    font-size: 13px;
}
/** 快捷回复 begin **/
.topic-fast-btns{
    padding-bottom: 10px;
    padding:7px;
}
.topic-fast-group{
    margin-top: 10px;
}
.topic-fast-btn{
    display: block;
    text-align: center;
    border-right: 1px solid #ddd;
}
.topic-fast-btn:hover{
    text-decoration: none;
}
.topic-fast-group .last{
    border-right: none;
}
.topic-fast-btn .glyphicon{
    font-size: 20px;
}
.topic-fast-btn p{
    font-size: 12px;
    margin-bottom: 0px;
}
.topic-pub-btn, a.topic-pub-btn, a.topic-pub-btn:link, a.topic-pub-btn:visited {
    /* width: 100%; */
    /* margin-bottom: 10px; */
    border: 1px solid #d66500;
    background-color: #f57403;
    color: #fff;
    display: block;
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
    margin-bottom: 10px;
}
.topic-pub-btn:hover, 
.topic-pub-btn:focus, 
.topic-pub-btn:active, 
a.topic-pub-btn:hover, 
a.topic-pub-btn:focus,
a.topic-pub-btn:active {
    background-color: #fb8318;
    color: #fff !important;
}
.topic-fast-btns .topic-pub-btn{
    margin-bottom: 0px;
}
/** 快捷回复 end **/

/** login begin **/
#J_topUserBtn{
    min-width: 150px;
    padding:0px;
}
#J_topUserBtn a:before{
    display: none;
}
#J_topUserBtn .top-user-wrap{
    padding: 10px;
}
/* #J_topUserBtn.sib-popup-active .top-user-wrap{
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border: 1px solid #FF5E52;
    border-bottom: 0px;
    padding: 9px 9px 5px 9px;
} */
#J_topUserBtn.sib-popup-active .user-detail{
    height: auto;
}
#J_topUserBtn .user-avatar {
    width: 30px;
    height: 30px;
    padding: 0px;
    float: left;
    margin-left: 5px;
    position: relative;
    top: 0px;
    left: 0px;
    margin-top: 0px;
}
#J_topUserBtn .user-avatar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
#J_topUserBtn .user-name{
    display: block;
    padding-left: 45px;
    padding-right: 30px;
}
#J_topUserBtn .msg{
    margin-top: 2px;
}
#J_topUserBtn .credit-info{
    padding-left: 45px;
    margin-top: -3px;
}
#J_topUserBtn .credit-info .label{
    padding: 2px;
}
.user-detail{
    position: absolute;
    z-index: 111;
    color: #ddd;
    font-size: 12px;
    line-height: 20px;
    width: 210px;
    /* border: 1px solid #FF5E52; */
    border-top: 0px;
    left: 0px;
    /* background: #fff; */
    height: 0px;
    padding-top:10px;

    /* border-radius: 0 0 4px 4px; */
    /* -webkit-box-shadow: 0 3px 3px rgba(0,0,0,.1);
    box-shadow: 0 3px 3px rgba(0,0,0,.1);
    filter: alpha(Opacity=92);
    opacity: .92; */
    -webkit-transition: height .1s;
    -moz-transition: height .1s;
    -ms-transition: height .1s;
    -o-transition: height .1s;
}
/* .user-detail a:link, .user-detail a:visited{
    color: #ddd;
} */
.user-detail .arrow{
    width: 20px;
    height: 10px;
    position: absolute;
    right: 35px;
    top:0px;
}
.user-detail .arrow em,
.user-detail .arrow b{
    position: absolute;
    width: 0px;
    height: 0px;
    top:-10px;
}
.user-detail .arrow em{
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fcfcfc transparent;
    z-index: 10;
    top: -9px;
}
.user-detail .arrow b{
    z-index: 1;
    border: 10px solid;
    border-color: transparent transparent #ddd transparent;
}
.nav .user-detail .user-detail-con a{
    margin: 0px;
    padding: 0px;
}
.nav .user-detail .user-detail-con a:hover{}
.nav .user-detail .user-detail-con a:hover:before{
    display: none;
}
.user-detail-con {
    border:1px solid #ddd;
    /* border-radius: 5px; */
    background: #fcfcfc;
}
.user-detail .uinfo-horizontal{
    line-height: 26px;
    padding: 10px 0px 5px 0px;
}
.user-detail .uinfo-horizontal li {
    padding-left: 20px;
}
.info-label{
    color: #aaa;
}
.navlist{
    padding: 5px 0px;
    border-top: 1px solid #ccc;
}
.navlist li {
    height: 30px;
    line-height: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.nav .user-detail .navlist li a{
    padding-left:20px;
    display:block;
}
.nav .user-detail .navlist li a:hover{
    background:#FF5E52;
    color: #fff !important;
    text-decoration: none;
}

/** login end **/

/**user card mini begin **/
.card-mini.panel{
    margin-bottom: 0px;
}
.card-mini{
    padding:10px;
    padding-left: 80px;
}
.card-mini .avatar{
    width: 60px;
    height: 60px;
    position: static;
    float: left;
    margin-left: -70px;
    margin-top: 0px;
}
.card-mini .avatar img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.card-mini .title{
    font-size: 16px;
    line-height: 18px;
    margin: 0px;
}
.card-mini .info {
    font-size: 12px;
    margin-top: 5px;
}
.card-mini .info em {
    font-size: 12px;
    margin-right: 10px;
}
.card-mini .info-label {
    color: #ccc;
}
.card-mini .info-value {
    color: #999;
}
/** user card mini end **/

/** panel 风格2 **/
.panel-module .panel-heading{
    background: #fff;
    padding:10px 20px 0px 20px;
}
.panel-module .panel-title{
    line-height: 16px;
    margin: 8px 0;
    font-size: 16px;
    height: 16px;
    font-weight: 100;
    color: #666;
    border-left: 3px solid #88d1b4;
    padding-left: 8px;
}
/** panel 风格3 title底部是线 **/
/* .panel-bline .panel-heading{
    background: #fff;
    padding: 5px 10px;
    border-bottom: 2px solid #eee;
} */
/** tip **/
.line-tip{
    padding:4px 8px;
    box-shadow: none;
}
.pure-tip{
    padding:4px 8px;
    box-shadow: none;
    border:none;
    background: #f57403;
    color: #fff;
}
.pure-tip .sib-tip-arrow.sib-tip-top .sib-tip-above,
.pure-tip .sib-tip-arrow.sib-tip-top .sib-tip-under{
    border-color: transparent transparent #f57403 transparent;
}
.pure-tip .sib-tip-arrow.sib-tip-bottom .sib-tip-above,
.pure-tip .sib-tip-arrow.sib-tip-bottom .sib-tip-under{
    border-color: #f57403 transparent transparent transparent;
}
.pure-tip .sib-tip-arrow.sib-tip-left .sib-tip-above,
.pure-tip .sib-tip-arrow.sib-tip-left .sib-tip-under{
    border-color: transparent #f57403 transparent transparent;
}
.pure-tip .sib-tip-arrow.sib-tip-right .sib-tip-above,
.pure-tip .sib-tip-arrow.sib-tip-right .sib-tip-under{
    border-color: transparent transparent transparent #f57403;
}


.sib-page {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.sib-page > a{
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #428bca;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.sib-page > span{
    padding: 6px 12px;
}
.sib-page > a:hover,
.sib-page > a:focus{
    color: #2a6496;
    background-color: #eee;
    border-color: #ddd;
}
.sib-page > a.sib-page-current,
.sib-page > a.sib-page-current:hover,
.sib-page > a.sib-page-current:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #428bca;
    border-color: #428bca;
}
.sib-page > a.sib-page-disabled,
.sib-page > a.sib-page-disabled:hover,
.sib-page > a.sib-page-disabled:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}
.sib-page-lg > a,
.sib-page-lg > span {
    padding: 10px 16px;
    font-size: 18px;
}
.sib-page-sm > a,
.sib-page-sm > span {
    padding: 5px 10px;
    font-size: 12px;
}
.sib-page .sib-page-goto{
    float: none;
}
.sib-page .sib-page-which{
    padding:0px;
}
.sib-page-which input{
    width: 60px;
    padding: 4px;
    border:1px solid #ddd;
}
.sib-page-info{
    float: left;
}
.sib-page-which,
.sib-page-goto{
    display: none;
}