{{#extend "layout"}}
    {{#append "css"}}
        <link rel="stylesheet" href="/assets/p/forum/index.css">
    {{/append}}
    {{#replace "breadcrumb"}}
    {{/replace}}
    {{#replace "content"}}
        {{#if error}}
            <div class="alert alert-warning" >    
                <strong>
                {{#if error.message}}
                    {{error.message}}
                {{else}}
                    {{error}}
                {{/if}}
                </strong>
            </div>
        {{/if}}
        <div class="panel">
            <div class="panel-body">
                <form class="form-horizontal" role="form" action="/login" method="post">
                    <input type="hidden" name="originalUrl" value="{{originalUrl}}" />
                    <div class="form-group">
                        <label for="J_ln" class="col-sm-2 control-label">name</label>
                        <div class="col-sm-10">
                            <input type="text" id="J_ln" class="form-control" name="loginname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="passwd">
                        </div>  
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">登录</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {{/replace}}
    {{#append "js"}}
    <script type="text/javascript">
    require(['jquery'], function($){
        $(function(){
            $('#J_ln').focus();
        });
    });
    </script>
    {{/append}}
{{/extend}}