    <div id="J_loginBox" class="logintype-wrap">
        <ul class="clearfix">
            <li class="first">
                <a href="/auth/weibo" target="_top" class="avatar">
                    <span class="login-icons">
                        <span class="login-icon">
                            <i class="iconfont">&#xe644;</i>
                            <i class="iconfont iconfont-active">&#xe644;</i>
                        </span>
                    </span>
                </a>
                <span class="login_type">微博</span>
            </li>
            <li>
                <a href="/auth/qq" target="_top" class="avatar">
                    <!-- <a href="javascript:;" class="avatar"> -->
                    <span class="login-icons">
                        <span class="login-icon">
                            <i class="iconfont">&#xe646;</i>
                            <i class="iconfont iconfont-active">&#xe646;</i>
                        </span>
                    </span>
                </a>
                <span class="login_type">QQ</span>
            </li>
            <li>
                <a href="/auth/weixin" target="_top" class="avatar">
                    <span class="login-icons">
                        <span class="login-icon">
                            <i class="iconfont">&#xe647;</i>
                            <i class="iconfont iconfont-active">&#xe647;</i>
                        </span>
                    </span>
                </a>
                <span class="login_type">微信</span>
            </li>
        </ul>
    </div>