{{#extend "layout"}}
    {{#append "css"}}
        <link rel="stylesheet" href="/assets/p/forum/index.css">
        <link rel="stylesheet" href="/assets/p/login/logintype.css">
    {{/append}}
    {{#replace "breadcrumb"}}
    {{/replace}}
    {{#replace "contentWrap"}}
        <div class="panel">
            <div class="panel-body plogin-body">
                <h4>{{#if error}}
                        {{#if error.message}}
                            {{error.message}}，
                        {{else}}
                            {{error}}，
                        {{/if}}
                    {{/if}}请选择登录方式：</h4>
                {{sub "login/logintype_btns"}}
            </div>
        </div>
    {{/replace}}
    {{#append "js"}}
    <script type="text/javascript">
    require(['jquery'], function($){
        $(function(){
            $('#J_ln').focus();
        });
    });
    </script>
    {{/append}}
{{/extend}}