{{#if hotForums }}
    <div class="panel side-hotforums">
        <div class="panel-heading">
            <h3 class="panel-title">常用模块</h3>
        </div>
        <div class="x-grid-row">
            {{#each hotForums}}
                <div class="x-grid-1-2">
                    <a href="/forum/{{id}}" 
                        class="{{#calc @index '%2 != 0'}}even{{/calc}}" 
                        title="{{ name }}">{{ name }}</a>
                </div>
            {{/each}}
        </div>
    </div>
{{/if}}