{{#extend "user/home/info"}}
    {{#replace "breadcrumbPath"}}
        <li><a href="/home/topic">主题/帖子</a></li>
    {{/replace}}
    {{#replace "content"}}
        <div id="J_tabs">
            <ul class="nav nav-tabs">
                <li class="active"><a href="javascript:void(0);">生活信息</a></li>
                <li><a href="javascript:void(0);">首页新闻</a></li>
            </ul>
            <div class="tab-cnt">
                <div class="tab-panel">
                    <div id="J_livingList">
                        {{sub "user/home/audit_living" list=living.list page=living.page}}
                    </div>
                    <div id="J_livingPage"></div>
                </div>
                <div class="tab-panel fn-hide">
                    <div id="J_newsList">
                        {{sub "user/home/audit_news" list=news.list page=news.page}}
                    </div>
                    <div id="J_newsPage"></div>
                </div>
            </div>
        </div>
    {{/replace}}
    {{#append "js"}}
    {{tplinclude "J_livingTpl" "user/home/audit_living"}}
    {{tplinclude "J_newsTpl" "user/home/audit_news"}}
    <script type="text/javascript">
    require(['jquery', 'sib.sib', 'sib.pager', 'sib.dialog', 'sib.tabs', 
             'hbs', 'hbs-helper.calc', 'hbs-helper.moment'], 
        function($, Sib, Pager, Dialog, Tabs, Handlebars){

        new Tabs({
            target : '#J_tabs',
            panels : '.tab-panel',
            triggers : '.nav-tabs li',
            addDefaultCls : false,
            triggerActiveCls : 'active'
        });

        var tabData = [{
            url : '/home/audit/data/living',
            tplId : '#J_livingTpl',
            pageId : '#J_livingPage',
            listId : '#J_livingList',
            totalPages : {{living.page.totalPages}},
            totalRecords : {{living.page.total}}
        }, {
            url : '/home/audit/data/news',
            tplId : '#J_newsTpl',
            pageId : '#J_newsPage',
            listId : '#J_newsList',
            totalPages : {{news.page.totalPages}},
            totalRecords : {{news.page.total}}
        }];

        for(var i = 0; i < tabData.length; i++) {
            Sib.publish('createPager', tabData[i]);
        }

        //审核通过
        $('#J_livingList').on('click', '[data-role=yes]', function(){
            var $wrap = $(this).parent();
            $.ajax({
                url : '',
                type : 'post',
                success : function(data){
                    Dailog.tip(data.msg);
                    $wrap.find('[data-role=yes]').remove();
                    $wrap.find('[data-role=no]').remove();
                },
                error : function(data){
                    Dialog.tip(data.responseText);
                }
            });
        });
        //审核不通过
        $('#J_livingList').on('click', '[data-role=no]', function(){

        });
        //删除
        $('#J_livingList').on('click', '[data-role=del]', function(){

        });
    });
    </script>
    {{/append}}
{{/extend}}