{{#extend "user/home/info"}}
    {{#replace "breadcrumbPath"}}
        <li><a href="/home/topic">主题/帖子</a></li>
    {{/replace}}
    {{#replace "content"}}
        <div id="J_tabs">
            <ul class="nav nav-tabs">
                <li class="active"><a href="javascript:void(0);">收藏的板块</a></li>
                <li><a href="javascript:void(0);">收藏的主题</a></li>
            </ul>
            <div class="tab-cnt">
                <div class="tab-panel">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>板块名</th>
                                <th>描述</th>
                                <th>主题/帖子</th>
                                <th>最后回复</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each forum.list}}
                                <tr>
                                    <td>{{calc @index '+1'}}</td>
                                    <td><a href="/forum/{{id}}" target="_blank">{{forum.name}}</a></td>
                                    <td>{{forum.desc}}</td>
                                    <td>{{#if forum.topic}}{{forum.topic}}{{else}}0{{/if}}<br/>
                                        {{#if forum.posts}}{{forum.posts}}{{else}}0{{/if}}</td>
                                    <td>
                                        {{last_reply_user_nick}}
                                        <br/>
                                        {{moment last_reply_time format='YYYY-MM-DD hh:mm:ss'}}
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <div class="tab-panel fn-hide">
                    <div id="J_topicList">
                        {{sub "user/home/fav_ttable" list=topic.list page=topic.page}}
                    </div>
                    <div id="J_topicPage"></div>
                </div>
            </div>
        </div>
    {{/replace}}
    {{#append "js"}}
    {{tplinclude "J_topicTpl" "user/home/fav_ttable"}}
    <script type="text/javascript">
    require(['jquery', 'sib.sib', 'sib.pager', 'sib.dialog', 'sib.tabs', 
             'hbs', 'hbs-helper.calc', 'hbs-helper.moment'], 
        function($, Sib, Pager, Dialog, Tabs, Handlebars){

        new Tabs({
            target : '#J_tabs',
            panels : '.tab-panel',
            triggers : '.nav-tabs li',
            addDefaultCls : false,
            triggerActiveCls : 'active'
        });

        var tabData = [{
            url : '/home/topic/tdata',
            tplId : '#J_topicTpl',
            pageId : '#J_topicPage',
            listId : '#J_topicList',
            totalPages : {{topic.page.totalPages}},
            totalRecords : {{topic.page.total}}
        }];

        Sib.publish('createPager', tabData[0]);
    });
    </script>
    {{/append}}
{{/extend}}