<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>威尼斯水城社区</title>
    <!--<link rel="stylesheet" href="../../components/css/normalize.css">-->
    <link rel="stylesheet" href="../../../c/css/normalize.css">
    <link rel="stylesheet" href="../../../c/css/base.css">
    <link rel="stylesheet" href="../../../c/css/common.css">
    <link rel="stylesheet" href="../../../../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../../c/css/grid.css">
    <link rel="stylesheet" href="../../../c/css/grid-x.css">
    <link rel="stylesheet" href="../../index/index.css">
    <link rel="stylesheet" href="../../forum/index.css">
    <link rel="stylesheet" href="../index.css">
</head>

<body>
    <div class="navbar navbar-fixed-top">
        <div class="grid-container">
            <div class="grid-lg-offset-3 grid-md-24 grid-sm-18" style="margin-bottom:0px">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" style="padding:10px 15px">
                        <img alt="Brand" src="../../images/logo.png">
                    </a>
                    <a class="navbar-toggle collapsed" href="javascript:;" data-toggle="collapse" data-target="#J_topMainNav">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                </div>
                <div id="J_topMainNav" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right navbar-horizontal">
                        <li><a href="#">注册</a>
                        </li>
                        <li>
                            <a href="#" id="J_loginBtn">登录</a>
                            <div class="user-detail" id="J_userDetail" style="display:none;">
                                <div class="user-detail-con">
                                    <div class="username-line">
                                        <a href="#">
                                            <span class="glyphicon glyphicon-home"></span> 我的首页
                                        </a>
                                        <a href="#" class="pull-right">
                                            <span class="glyphicon glyphicon-off"></span> 退出
                                        </a>
                                    </div>
                                    <div class="uinfo-horizontal">
                                        <dl>
                                            <dt>积分：</dt>
                                            <dd><a href="#">100</a></dd>
                                            <dt>认证：</dt>
                                            <dd>
                                                <a href="#">业主认证</a>
                                                <a href="#" class="pull-right">申请>></a>
                                            </dd>
                                        </dl>
                                    </div>
                                    <ul class="navlist clearfix" id="navlist">
                                        <li>
                                            <a href="#">
                                                <span class="glyphicon glyphicon-envelope"></span>
                                                <span>消息</span>
                                                <span>(1)</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="glyphicon glyphicon-list-alt"></span>
                                                <span>我的帖子</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="glyphicon glyphicon-user"></span>
                                                <span>好友</span>
                                            </a>
                                        </li>
                                        <li><a href="#">
                                                <span class="glyphicon glyphicon-retweet"></span>
                                                <span>关注</span>
                                            </a>
                                            
                                        </li>
                                        <li>
                                            <a href="#">
                                                <span class="glyphicon glyphicon-cog"></span>
                                                <span>设置</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="../index/index.html">首页</a>
                        </li>
                        <li><a href="#">小区黄页</a>
                        </li>
                        <li><a href="../forum/index.html">论坛</a>
                        </li>
                        <li><a href="#">版块</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-container main-body">
        <div class="grid-row">
            <div class="grid-lg-offset-3 grid-md-24 grid-sm-18" style="margin-bottom:0px">
                <ol class="breadcrumb">
                    <li><a href="#">首页</a></li>
                    <li><a href="#">儿童教育</a></li>
                </ol>
            </div>
        </div>
        <div class="grid-row">
            <div class="grid-lg-offset-3 grid-md-24 grid-sm-18">
                <div class="panel">
                    <div class="grid-row">
                        <div class="grid-sm-4 mgr-leftnav-wrap">
                            <div class="mgr-leftnav">
                                <h2 class="mt bbsa">设置</h2>
                                <ul>
                                    <li><a href="#">修改头像</a></li>
                                    <li class="current"><a href="#">个人资料</a></li>
                                    <li><a href="#">积分</a></li>
                                    <li><a href="#">隐私</a></li>
                                    <li><a href="#">密码安全</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="grid-sm-14 grid-md-20">
                            <div class="mgr-cnt-wrap">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">用户名</label>
                                        <div class="col-sm-8">
                                            <p class="form-control-static">八千里路</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword" class="col-sm-2 control-label">真实姓名</label>
                                        <div class="col-sm-8">
                                                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                                        </div>
                                        <div class="col-sm-2">
                                            <select class="form-control">
                                                <option>公开</option>
                                                <option>仅好友可见</option>
                                                <option>公开</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="mobile" class="col-sm-2 control-label">手机</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="mobile" placeholder="手机">
                                        </div>
                                        <div class="col-sm-2">
                                            <select class="form-control">
                                                <option>公开</option>
                                                <option>仅好友可见</option>
                                                <option>公开</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="addr" class="col-sm-2 control-label">邮寄地址</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="addr" placeholder="邮寄地址">
                                        </div>
                                        <div class="col-sm-2">
                                            <select class="form-control">
                                                <option>公开</option>
                                                <option>仅好友可见</option>
                                                <option>公开</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-sm-2 control-label">邮箱</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="email" placeholder="邮箱">
                                        </div>
                                        <div class="col-sm-2">
                                            <select class="form-control">
                                                <option>公开</option>
                                                <option>仅好友可见</option>
                                                <option>公开</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="sex" class="col-sm-2 control-label">性别</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="sex" placeholder="性别">
                                        </div>
                                        <div class="col-sm-2">
                                            <select class="form-control">
                                                <option>公开</option>
                                                <option>仅好友可见</option>
                                                <option>公开</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
