{{#extend "user/ulayout"}}
    {{#replace "breadcrumbPath"}}
        <li><a href="#">个人信息</a></li>
    {{/replace}}
    {{#replace "leftNav"}}
        <h2 class="mt bbsa">设置</h2>
        <ul>
            <li><a href="#">修改头像</a></li>
            <li class="current"><a href="#">个人资料</a></li>
            <li><a href="#">积分</a></li>
            <li><a href="#">隐私</a></li>
            <li><a href="#">密码安全</a></li>
        </ul>
    {{/replace}}
    {{#replace "content"}}
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label">用户名</label>
                <div class="col-sm-8">
                    <p class="form-control-static">八千里路</p>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-sm-2 control-label">真实姓名</label>
                <div class="col-sm-8">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
                <div class="col-sm-2">
                    <select class="form-control">
                        <option>公开</option>
                        <option>仅好友可见</option>
                        <option>公开</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="mobile" class="col-sm-2 control-label">手机</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="mobile" placeholder="手机">
                </div>
                <div class="col-sm-2">
                    <select class="form-control">
                        <option>公开</option>
                        <option>仅好友可见</option>
                        <option>公开</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="addr" class="col-sm-2 control-label">邮寄地址</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="addr" placeholder="邮寄地址">
                </div>
                <div class="col-sm-2">
                    <select class="form-control">
                        <option>公开</option>
                        <option>仅好友可见</option>
                        <option>公开</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">邮箱</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="email" placeholder="邮箱">
                </div>
                <div class="col-sm-2">
                    <select class="form-control">
                        <option>公开</option>
                        <option>仅好友可见</option>
                        <option>公开</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="sex" class="col-sm-2 control-label">性别</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="sex" placeholder="性别">
                </div>
                <div class="col-sm-2">
                    <select class="form-control">
                        <option>公开</option>
                        <option>仅好友可见</option>
                        <option>公开</option>
                    </select>
                </div>
            </div>
        </form>
    {{/replace}}
{{/extend}}