{{#extend "user/ulayout"}}
    {{#replace "breadcrumbPath"}}
        <li><a href="#">个人信息</a></li>
    {{/replace}}
    {{#replace "leftNav"}}
        <h2 class="mt bbsa">通知</h2>
        <ul>
            <li class="current">
                <a href="#">消息 </a>
            </li>
            <li><a href="#">提醒</a></li>  
        </ul>
    {{/replace}}
    {{#replace "content"}}
        <ul class="nav nav-tabs nav-sm" role="tablist">
            <li class="active"><a href="#">私人消息</a></li>
            <li><a href="#">公共消息</a></li>
        </ul>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
    {{/replace}}
{{/extend}}