{{#extend "user/ulayout"}}
    {{#replace "breadcrumbPath"}}
        <li><a href="#">个人信息</a></li>
    {{/replace}}
    {{#replace "leftNav"}}
        <h2 class="mt bbsa">设置</h2>
        <ul>
            <li><a href="#">修改头像</a></li>
            <li class="current"><a href="#">个人资料</a></li>
            <li><a href="#">积分</a></li>
            <li><a href="#">隐私</a></li>
            <li><a href="#">密码安全</a></li>
        </ul>
    {{/replace}}
    {{#replace "content"}}
        
    {{/replace}}
{{/extend}}
