{{#extend "user/home/info"}}
    {{#replace "breadcrumbPath"}}
        <li><a href="/home/topic">主题/帖子</a></li>
    {{/replace}}
    {{#replace "content"}}
        <div id="J_tabs">
            <ul class="nav nav-tabs">
                <li class="active"><a href="javascript:void(0);">主题</a></li>
                <li><a href="javascript:void(0);">回复</a></li>
            </ul>
            <div class="tab-cnt">
                <div class="tab-panel">
                    <div id="J_topicList">
                        {{sub "user/home/topic_ttable" list=topic.list page=topic.page}}
                    </div>
                    <div id="J_topicPage"></div>
                </div>
                <div class="tab-panel fn-hide">
                    <div id="J_replyList">
                        {{sub "user/home/topic_rtable" list=reply.list page=reply.page}}
                    </div>
                    <div id="J_replyPage"></div>
                </div>
            </div>
        </div>
    {{/replace}}
    {{#append "js"}}
    {{tplinclude "J_topicTpl" "user/home/topic_ttable"}}
    {{tplinclude "J_replyTpl" "user/home/topic_rtable"}}
    <script type="text/javascript">
    require(['jquery', 'sib.sib', 'sib.pager', 'sib.dialog', 'sib.tabs', 
             'hbs', 'hbs-helper.calc', 'hbs-helper.moment', 'hbs-helper.string'], 
        function($, Sib, Pager, Dialog, Tabs, Handlebars){

        new Tabs({
            target : '#J_tabs',
            panels : '.tab-panel',
            triggers : '.nav-tabs li',
            addDefaultCls : false,
            triggerActiveCls : 'active'
        });

        var tabData = [{
            url : '/home/topic/tdata',
            tplId : '#J_topicTpl',
            pageId : '#J_topicPage',
            listId : '#J_topicList',
            totalPages : {{topic.page.totalPages}},
            totalRecords : {{topic.page.total}}
        }, {
            url : '/home/topic/rdata',
            tplId : '#J_replyTpl',
            pageId : '#J_replyPage',
            listId : '#J_replyList',
            totalPages : {{reply.page.totalPages}},
            totalRecords : {{reply.page.total}}
        }];

        for(var i = 0; i < tabData.length; i++) {
            Sib.publish('createPager', tabData[i]);
        }
    });
    </script>
    {{/append}}
{{/extend}}