.post-total{
    padding-left:10px;
    padding-right:10px;
}
.pipe{
    color: #ddd;
    margin-left:5px;
    margin-right: 5px;
}
.pipe-min{
    color: #ddd;
}
.topic-card{
    margin: 5px 0px 15px 0px;
    margin-bottom: 0px;
}
.topic-card .card-logo{
    float: left;
    margin-right: 15px;
    background: #f57403;
    color: #fff;
    width: 60px;
    height: 60px;
    font-size: 45px;
    text-align: center;
    line-height: 60px;
    border-radius: 20px;
}
.topic-card a{
    color: #333;
    text-decoration: none;
}
.topic-card .card-name{
    height: 38px;
    margin-top: 5px;
}
.topic-card h1{
    float: left;
    margin-right: 20px;
    margin-top:0px; 
    line-height: 30px;
    font-size: 30px;
    margin-bottom: 5px;
}
.topic-card .moderator{
    float: right;
    margin-top: 10px;
}
.topic-card .tc-fav{
    /* height: 26px;
    color: #8c8c8c; */
    margin-top: 4px;
}
.topic-card .tc-fav .btn{
    padding:0px 3px;
}
.topic-card .tc-fav strong{
    color: #ff6f3d;
}
.topic-card .tc-label, 
.topic-card .tc-label a{
    color: #aaa;
}
.topic-card .tc-label .pipe{
    color: #bbb;
}
.topic-list .cell {
    /* line-height: 2em; */
    overflow: hidden;
    position: relative;
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
    padding-right: 60px;
}
.topic-list .cell.odd{
    background: #F7F7F7;
}
.topic-list .cell:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.topic-list .cell:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.topic-list .cell:hover {
}
.topic-list .cell-hl .topic-title a{
    color: #FF5E52;
}
.topic-list .theader{
    padding: 8px 10px;
    font-size: 12px;
    color: #999;
}
.topic-list .theader .current{
    font-weight: bold;
    color: #ff6f3d;
}
.topic-list .label {
    padding: .2em .5em;
    position: relative;
    top: -0.1em;
    font-size: 12px;
}
.topic-list .post-total.first{
    padding-left: 0px;
}
.user-avatar{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -20px;
}
.user-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.last_time .user_small_avatar {
    height: 18px;
    width: 18px;
    vertical-align: middle;
    margin-right: .5em;
    border-radius: 3px;
}
.cell .reply-count {
    padding: 0px 5px 0px 10px;
    display: inline-block;
    text-align: right;
}
.replies-count {
    color: #ccc;
}
.visit-count {
    font-size: 16px;
    font-weight: bold;
}
.last_time {
    font-size: 11px;
    display: inline-block;
    margin-left: 20px;
    color: #777;
}
.topic-title-wrapper {
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    word-wrap: break-word;
}
.info {
    font-size: 12px;
    margin-top: 5px;
}
.info em{
    font-size: 12px;
    margin-right: 20px;
}
.info em.last{
    margin-right: 0px;
}
.info .info-label{
    color: #ccc;
}
.info .info-value{
    color: #999;
}
.topic-title {
    line-height: 28px;
    margin: 0;
    font-size: 18px;
    font-weight: normal;
}
.topic-title a{
    color: #404040;
}
.topic-list .tag, 
.topic-list .tag a{
    font-size: 12px;
    color: #888;
}
/** forum list begin **/
.fclassify-wrap{
    padding-right: 0px;
}
.fclassify-list {
    /* margin: 10px 0 0 10px; */
    padding-left: 0px;
}
.fclassify-list li {
    float: left;
    margin: 0 0px 0px 0;
}
.fclassify-list .fclassify-box {
    width: 225px;
    height: 65px;
    padding: 10px 0px 0 10px;
    border-radius: 5px;
    border: 1px solid #ffffff;
}
.fclassify-list .fclassify-box:hover{
    border-color: rgb(237, 237, 237);
    background: rgb(251, 251, 251);
}
.fclassify-list .fclassify-pic {
    float: left;
    width: 40px;
    height: 40px;
    text-align: center;
    background: #ff5f19;
    border-radius: 50%;
}
.fclassify-list .fclassify-pic a{
    font-size: 30px;
    line-height: 42px;
    color: #fff;
}
.fclassify-list .fclassify-pic a:hover{
    color: #fff !important;
    text-decoration: none;
}
.fclassify-list .fclassify-info {
    margin-left: 50px;
}
.fclassify-list .fclassify-title {
    font-size: 16px;
    font-family: 'Microsoft YaHei';
    line-height: 18px;
}
.fclassify-list .fclassify-info .fclassify-data {
    font-size: 12px;
    display: inline-block;
    background: #ff5f19;
    color: white;
    border-radius: 3px;
    padding: 1px 5px;
    height: 13px;
    line-height: 14px;
    font-size: 9px;
    font-family: 'Arial';
}
.fclassify-list .fclassify-desc {
    height: 15px;
    line-height: 15px;
    color: #999999;
    overflow: hidden;
    margin-top: 7px;
}
.fclassify-list .fclassify-nums {
    color: #999999;
    margin-top: 5px;/*3*/
}
.fclassify-list .fclassify-s {
    color: #999999;
}
/** forum list end**/
